<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string> Inévitablement</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>FATALEMENT</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string> Elle vit en Grèce</string>
			<string>FATALEMENT</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string> Principe chinois</string>
			<string>FATALEMENT</string>
			<string>TAO</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string> Astate</string>
			<string>FATALEMENT</string>
			<string>AT</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string> Déchiffrent</string>
			<string>FATALEMENT</string>
			<string>LISENT</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string> Orient.</string>
			<string>FATALEMENT</string>
			<string>EST</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string> Réunion</string>
			<string>FATALEMENT</string>
			<string>MEETING</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string> Rodent</string>
			<string>FATALEMENT</string>
			<string>ERRENT</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string></string>
			<string>FATALEMENT</string>
			<string>N</string>
		</array>
		<array>
			<string> Inévitablement</string>
			<string> Comprimerai</string>
			<string>FATALEMENT</string>
			<string>TASSERAI</string>
		</array>
	</array>
	<array>
		<array>
			<string> Nationaliser</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>ETATISER</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Nationaliser</string>
			<string> Elle vit en Grèce</string>
			<string>ETATISER</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string> Nationaliser</string>
			<string> Principe chinois</string>
			<string>ETATISER</string>
			<string>TAO</string>
		</array>
		<array>
			<string> Nationaliser</string>
			<string> Astate</string>
			<string>ETATISER</string>
			<string>AT</string>
		</array>
		<array>
			<string> Nationaliser</string>
			<string> Déchiffrent</string>
			<string>ETATISER</string>
			<string>LISENT</string>
		</array>
		<array>
			<string> Nationaliser</string>
			<string> Orient.</string>
			<string>ETATISER</string>
			<string>EST</string>
		</array>
		<array>
			<string> Nationaliser</string>
			<string> Réunion</string>
			<string>ETATISER</string>
			<string>MEETING</string>
		</array>
		<array>
			<string> Nationaliser</string>
			<string> Rodent</string>
			<string>ETATISER</string>
			<string>ERRENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Comprimerai</string>
			<string>A</string>
			<string>TASSERAI</string>
		</array>
	</array>
	<array>
		<array>
			<string> Lettre grec</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>RHO</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Lettre grec</string>
			<string> Elle vit en Grèce</string>
			<string>RHO</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string> Lettre grec</string>
			<string> Principe chinois</string>
			<string>RHO</string>
			<string>TAO</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Volumes de bois</string>
			<string> Déchiffrent</string>
			<string>STERES</string>
			<string>LISENT</string>
		</array>
		<array>
			<string> Volumes de bois</string>
			<string> Orient.</string>
			<string>STERES</string>
			<string>EST</string>
		</array>
		<array>
			<string> Volumes de bois</string>
			<string> Réunion</string>
			<string>STERES</string>
			<string>MEETING</string>
		</array>
		<array>
			<string> Volumes de bois</string>
			<string> Rodent</string>
			<string>STERES</string>
			<string>ERRENT</string>
		</array>
		<array>
			<string> Volumes de bois</string>
			<string> Liaison</string>
			<string>STERES</string>
			<string>ET</string>
		</array>
		<array>
			<string> Volumes de bois</string>
			<string> Comprimerai</string>
			<string>STERES</string>
			<string>TASSERAI</string>
		</array>
	</array>
	<array>
		<array>
			<string> Pronom personnel</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>ME</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Pronom personnel</string>
			<string> Elle vit en Grèce</string>
			<string>ME</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Pronom</string>
			<string></string>
			<string>SE</string>
			<string>S</string>
		</array>
		<array>
			<string> Pronom</string>
			<string> Déchiffrent</string>
			<string>SE</string>
			<string>LISENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Coupelles</string>
			<string> Réunion</string>
			<string>TETS</string>
			<string>MEETING</string>
		</array>
		<array>
			<string> Coupelles</string>
			<string> Rodent</string>
			<string>TETS</string>
			<string>ERRENT</string>
		</array>
		<array>
			<string> Coupelles</string>
			<string> Liaison</string>
			<string>TETS</string>
			<string>ET</string>
		</array>
		<array>
			<string> Coupelles</string>
			<string> Comprimerai</string>
			<string>TETS</string>
			<string>TASSERAI</string>
		</array>
	</array>
	<array>
		<array>
			<string> Plus à l'est qu'au nord</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>ENE</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Plus à l'est qu'au nord</string>
			<string> Elle vit en Grèce</string>
			<string>ENE</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string> Plus à l'est qu'au nord</string>
			<string> Petit prénom anglais</string>
			<string>ENE</string>
			<string>ED</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Déchiffrent</string>
			<string>N</string>
			<string>LISENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> À la mode</string>
			<string> Réunion</string>
			<string>IN</string>
			<string>MEETING</string>
		</array>
		<array>
			<string> À la mode</string>
			<string> Rodent</string>
			<string>IN</string>
			<string>ERRENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Comprimerai</string>
			<string>E</string>
			<string>TASSERAI</string>
		</array>
	</array>
	<array>
		<array>
			<string> Abri</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>NID</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Abri</string>
			<string> Elle vit en Grèce</string>
			<string>NID</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string> Abri</string>
			<string> Petit prénom anglais</string>
			<string>NID</string>
			<string>ED</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Essayer</string>
			<string> Déchiffrent</string>
			<string>TENTER</string>
			<string>LISENT</string>
		</array>
		<array>
			<string> Essayer</string>
			<string> Écossais</string>
			<string>TENTER</string>
			<string>ERSES</string>
		</array>
		<array>
			<string> Essayer</string>
			<string> Réunion</string>
			<string>TENTER</string>
			<string>MEETING</string>
		</array>
		<array>
			<string> Essayer</string>
			<string> Rodent</string>
			<string>TENTER</string>
			<string>ERRENT</string>
		</array>
		<array>
			<string> Essayer</string>
			<string> Longue pièce de bois</string>
			<string>TENTER</string>
			<string>ESPAR</string>
		</array>
		<array>
			<string> Essayer</string>
			<string> Comprimerai</string>
			<string>TENTER</string>
			<string>TASSERAI</string>
		</array>
	</array>
	<array>
		<array>
			<string> Règle</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>TE</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Règle</string>
			<string> Elle vit en Grèce</string>
			<string>TE</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Manquent d'eau</string>
			<string>S</string>
			<string>SECS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Renseignements généraux</string>
			<string> Écossais</string>
			<string>RG</string>
			<string>ERSES</string>
		</array>
		<array>
			<string> Renseignements généraux</string>
			<string> Réunion</string>
			<string>RG</string>
			<string>MEETING</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Possessif</string>
			<string> Longue pièce de bois</string>
			<string>SA</string>
			<string>ESPAR</string>
		</array>
		<array>
			<string> Possessif</string>
			<string> Comprimerai</string>
			<string>SA</string>
			<string>TASSERAI</string>
		</array>
	</array>
	<array>
		<array>
			<string> Greffées</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>ENTEES</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Greffées</string>
			<string> Elle vit en Grèce</string>
			<string>ENTEES</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string> Greffées</string>
			<string></string>
			<string>ENTEES</string>
			<string>T</string>
		</array>
		<array>
			<string> Greffées</string>
			<string> Manquent d'eau</string>
			<string>ENTEES</string>
			<string>SECS</string>
		</array>
		<array>
			<string> Greffées</string>
			<string> Période de temps</string>
			<string>ENTEES</string>
			<string>ERE</string>
		</array>
		<array>
			<string> Greffées</string>
			<string> Écossais</string>
			<string>ENTEES</string>
			<string>ERSES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Petite pomme</string>
			<string> 100 mètres carrés de terrain</string>
			<string>API</string>
			<string>ARE</string>
		</array>
		<array>
			<string> Petite pomme</string>
			<string> Longue pièce de bois</string>
			<string>API</string>
			<string>ESPAR</string>
		</array>
		<array>
			<string> Petite pomme</string>
			<string> Comprimerai</string>
			<string>API</string>
			<string>TASSERAI</string>
		</array>
	</array>
	<array>
		<array>
			<string> Indique la manière</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>EN</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Indique la manière</string>
			<string> Elle vit en Grèce</string>
			<string>EN</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Fera</string>
			<string> Manquent d'eau</string>
			<string>CREERA</string>
			<string>SECS</string>
		</array>
		<array>
			<string> Fera</string>
			<string> Période de temps</string>
			<string>CREERA</string>
			<string>ERE</string>
		</array>
		<array>
			<string> Fera</string>
			<string> Écossais</string>
			<string>CREERA</string>
			<string>ERSES</string>
		</array>
		<array>
			<string> Fera</string>
			<string></string>
			<string>CREERA</string>
			<string>E</string>
		</array>
		<array>
			<string> Fera</string>
			<string> 100 mètres carrés de terrain</string>
			<string>CREERA</string>
			<string>ARE</string>
		</array>
		<array>
			<string> Fera</string>
			<string> Longue pièce de bois</string>
			<string>CREERA</string>
			<string>ESPAR</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string> Logiques</string>
			<string> Transformées sous l'influence d'enzyme</string>
			<string>SENSES</string>
			<string>FERMENTEES</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Elle vit en Grèce</string>
			<string>SENSES</string>
			<string>ATHENIENNE</string>
		</array>
		<array>
			<string> Logiques</string>
			<string></string>
			<string>SENSES</string>
			<string>N</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Manquent d'eau</string>
			<string>SENSES</string>
			<string>SECS</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Période de temps</string>
			<string>SENSES</string>
			<string>ERE</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Écossais</string>
			<string>SENSES</string>
			<string>ERSES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Plante herbacée</string>
			<string> 100 mètres carrés de terrain</string>
			<string>ERS</string>
			<string>ARE</string>
		</array>
		<array>
			<string> Plante herbacée</string>
			<string> Longue pièce de bois</string>
			<string>ERS</string>
			<string>ESPAR</string>
		</array>
		<array>
			<string> Plante herbacée</string>
			<string></string>
			<string>ERS</string>
			<string>S</string>
		</array>
	</array>
</array>
</plist>
