<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>M</string>
		<string>E</string>
		<string>R</string>
		<string>C</string>
		<string>E</string>
		<string>N</string>
		<string>A</string>
		<string>I</string>
		<string>R</string>
		<string>E</string>
	</array>
	<array>
		<string>E</string>
		<string>T</string>
		<string>E</string>
		<string>R</string>
		<string>N</string>
		<string>U</string>
		<string>E</string>
		<string>#</string>
		<string>U</string>
		<string>R</string>
	</array>
	<array>
		<string>S</string>
		<string>E</string>
		<string>N</string>
		<string>E</string>
		<string>S</string>
		<string>#</string>
		<string>R</string>
		<string>E</string>
		<string>E</string>
		<string>S</string>
	</array>
	<array>
		<string>E</string>
		<string>R</string>
		<string>E</string>
		<string>S</string>
		<string>#</string>
		<string>A</string>
		<string>I</string>
		<string>G</string>
		<string>R</string>
		<string>E</string>
	</array>
	<array>
		<string>S</string>
		<string>N</string>
		<string>#</string>
		<string>U</string>
		<string>S</string>
		<string>N</string>
		<string>E</string>
		<string>E</string>
		<string>#</string>
		<string>S</string>
	</array>
	<array>
		<string>T</string>
		<string>E</string>
		<string>L</string>
		<string>S</string>
		<string>#</string>
		<string>A</string>
		<string>N</string>
		<string>E</string>
		<string>S</string>
		<string>#</string>
	</array>
	<array>
		<string>I</string>
		<string>L</string>
		<string>E</string>
		<string>#</string>
		<string>I</string>
		<string>L</string>
		<string>#</string>
		<string>N</string>
		<string>E</string>
		<string>E</string>
	</array>
	<array>
		<string>M</string>
		<string>#</string>
		<string>V</string>
		<string>S</string>
		<string>#</string>
		<string>E</string>
		<string>R</string>
		<string>S</string>
		<string>#</string>
		<string>S</string>
	</array>
	<array>
		<string>E</string>
		<string>R</string>
		<string>R</string>
		<string>A</string>
		<string>S</string>
		<string>#</string>
		<string>E</string>
		<string>#</string>
		<string>E</string>
		<string>S</string>
	</array>
	<array>
		<string>E</string>
		<string>N</string>
		<string>E</string>
		<string>R</string>
		<string>G</string>
		<string>U</string>
		<string>M</string>
		<string>E</string>
		<string>N</string>
		<string>E</string>
	</array>
</array>
</plist>
