<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Planétaires</string>
			<string>Homogènes</string>
			<string>UNIVERSELS</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string>Un abri douillet</string>
			<string>UNIVERSELS</string>
			<string>NID</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string>Parfaitement</string>
			<string>UNIVERSELS</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string>Marches</string>
			<string>UNIVERSELS</string>
			<string>VAS</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string>Film de Spielberg</string>
			<string>UNIVERSELS</string>
			<string>ET</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string>Plaisante</string>
			<string>UNIVERSELS</string>
			<string>RIE</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string>Seuls</string>
			<string>UNIVERSELS</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string>Plus à l&apos;est qu&apos;au nord</string>
			<string>UNIVERSELS</string>
			<string>ENE</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string></string>
			<string>UNIVERSELS</string>
			<string>L</string>
		</array>
		<array>
			<string>Planétaires</string>
			<string>Oiseaux voisins de la mouette</string>
			<string>UNIVERSELS</string>
			<string>STERNES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Chez les mammifères implantation de l&apos;oeuf</string>
			<string>Homogènes</string>
			<string>NIDATION</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string>Chez les mammifères implantation de l&apos;oeuf</string>
			<string>Un abri douillet</string>
			<string>NIDATION</string>
			<string>NID</string>
		</array>
		<array>
			<string>Chez les mammifères implantation de l&apos;oeuf</string>
			<string>Parfaitement</string>
			<string>NIDATION</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string>Chez les mammifères implantation de l&apos;oeuf</string>
			<string>Marches</string>
			<string>NIDATION</string>
			<string>VAS</string>
		</array>
		<array>
			<string>Chez les mammifères implantation de l&apos;oeuf</string>
			<string>Film de Spielberg</string>
			<string>NIDATION</string>
			<string>ET</string>
		</array>
		<array>
			<string>Chez les mammifères implantation de l&apos;oeuf</string>
			<string>Plaisante</string>
			<string>NIDATION</string>
			<string>RIE</string>
		</array>
		<array>
			<string>Chez les mammifères implantation de l&apos;oeuf</string>
			<string>Seuls</string>
			<string>NIDATION</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string>Chez les mammifères implantation de l&apos;oeuf</string>
			<string>Plus à l&apos;est qu&apos;au nord</string>
			<string>NIDATION</string>
			<string>ENE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Oiseaux voisins de la mouette</string>
			<string>T</string>
			<string>STERNES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Poissons rouges</string>
			<string>Homogènes</string>
			<string>IDES</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string>Poissons rouges</string>
			<string>Un abri douillet</string>
			<string>IDES</string>
			<string>NID</string>
		</array>
		<array>
			<string>Poissons rouges</string>
			<string>Parfaitement</string>
			<string>IDES</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string>Poissons rouges</string>
			<string>Marches</string>
			<string>IDES</string>
			<string>VAS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Écolier</string>
			<string>Plaisante</string>
			<string>ELEVE</string>
			<string>RIE</string>
		</array>
		<array>
			<string>Écolier</string>
			<string>Seuls</string>
			<string>ELEVE</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string>Écolier</string>
			<string>Plus à l&apos;est qu&apos;au nord</string>
			<string>ELEVE</string>
			<string>ENE</string>
		</array>
		<array>
			<string>Écolier</string>
			<string>Agressivité</string>
			<string>ELEVE</string>
			<string>VIOLENCE</string>
		</array>
		<array>
			<string>Écolier</string>
			<string>Oiseaux voisins de la mouette</string>
			<string>ELEVE</string>
			<string>STERNES</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Homogènes</string>
			<string>F</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Parfaitement</string>
			<string>A</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Rend l&apos;âme</string>
			<string>A</string>
			<string>AGONISE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Seuls</string>
			<string>I</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Iridium</string>
			<string>Agressivité</string>
			<string>IR</string>
			<string>VIOLENCE</string>
		</array>
		<array>
			<string>Iridium</string>
			<string>Oiseaux voisins de la mouette</string>
			<string>IR</string>
			<string>STERNES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Devoir</string>
			<string>Homogènes</string>
			<string>OBLIGATION</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string>Devoir</string>
			<string>Bohrium</string>
			<string>OBLIGATION</string>
			<string>BH</string>
		</array>
		<array>
			<string>Devoir</string>
			<string>Parfaitement</string>
			<string>OBLIGATION</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string>Devoir</string>
			<string></string>
			<string>OBLIGATION</string>
			<string>I</string>
		</array>
		<array>
			<string>Devoir</string>
			<string>Rend l&apos;âme</string>
			<string>OBLIGATION</string>
			<string>AGONISE</string>
		</array>
		<array>
			<string>Devoir</string>
			<string></string>
			<string>OBLIGATION</string>
			<string>A</string>
		</array>
		<array>
			<string>Devoir</string>
			<string>Seuls</string>
			<string>OBLIGATION</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string>Devoir</string>
			<string>Entourée d&apos;eau</string>
			<string>OBLIGATION</string>
			<string>ILE</string>
		</array>
		<array>
			<string>Devoir</string>
			<string>Agressivité</string>
			<string>OBLIGATION</string>
			<string>VIOLENCE</string>
		</array>
		<array>
			<string>Devoir</string>
			<string>Oiseaux voisins de la mouette</string>
			<string>OBLIGATION</string>
			<string>STERNES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Unité de fluidité</string>
			<string>Homogènes</string>
			<string>RHE</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string>Unité de fluidité</string>
			<string>Bohrium</string>
			<string>RHE</string>
			<string>BH</string>
		</array>
		<array>
			<string>Unité de fluidité</string>
			<string>Parfaitement</string>
			<string>RHE</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Rend l&apos;âme</string>
			<string>O</string>
			<string>AGONISE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Cheminé</string>
			<string>Seuls</string>
			<string>ALLE</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string>Cheminé</string>
			<string>Entourée d&apos;eau</string>
			<string>ALLE</string>
			<string>ILE</string>
		</array>
		<array>
			<string>Cheminé</string>
			<string>Agressivité</string>
			<string>ALLE</string>
			<string>VIOLENCE</string>
		</array>
		<array>
			<string>Cheminé</string>
			<string>Oiseaux voisins de la mouette</string>
			<string>ALLE</string>
			<string>STERNES</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Homogènes</string>
			<string>M</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Quémandées</string>
			<string>Parfaitement</string>
			<string>MENDIEES</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string>Quémandées</string>
			<string></string>
			<string>MENDIEES</string>
			<string>E</string>
		</array>
		<array>
			<string>Quémandées</string>
			<string>Rend l&apos;âme</string>
			<string>MENDIEES</string>
			<string>AGONISE</string>
		</array>
		<array>
			<string>Quémandées</string>
			<string></string>
			<string>MENDIEES</string>
			<string>D</string>
		</array>
		<array>
			<string>Quémandées</string>
			<string>Seuls</string>
			<string>MENDIEES</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string>Quémandées</string>
			<string>Entourée d&apos;eau</string>
			<string>MENDIEES</string>
			<string>ILE</string>
		</array>
		<array>
			<string>Quémandées</string>
			<string>Agressivité</string>
			<string>MENDIEES</string>
			<string>VIOLENCE</string>
		</array>
		<array>
			<string>Quémandées</string>
			<string>Oiseaux voisins de la mouette</string>
			<string>MENDIEES</string>
			<string>STERNES</string>
		</array>
	</array>
	<array>
		<array>
			<string>La saison des glaces</string>
			<string>Homogènes</string>
			<string>ETE</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string>La saison des glaces</string>
			<string>Règles</string>
			<string>ETE</string>
			<string>TES</string>
		</array>
		<array>
			<string>La saison des glaces</string>
			<string>Parfaitement</string>
			<string>ETE</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Rend l&apos;âme</string>
			<string>I</string>
			<string>AGONISE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Seuls</string>
			<string>R</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Agressivité</string>
			<string>N</string>
			<string>VIOLENCE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Sénilité</string>
			<string>Homogènes</string>
			<string>SENESCENCE</string>
			<string>UNIFORMES</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Règles</string>
			<string>SENESCENCE</string>
			<string>TES</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Parfaitement</string>
			<string>SENESCENCE</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Infinitif</string>
			<string>SENESCENCE</string>
			<string>ER</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Rend l&apos;âme</string>
			<string>SENESCENCE</string>
			<string>AGONISE</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Césium</string>
			<string>SENESCENCE</string>
			<string>CS</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Seuls</string>
			<string>SENESCENCE</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Négation</string>
			<string>SENESCENCE</string>
			<string>NE</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Agressivité</string>
			<string>SENESCENCE</string>
			<string>VIOLENCE</string>
		</array>
		<array>
			<string>Sénilité</string>
			<string>Einsteinium</string>
			<string>SENESCENCE</string>
			<string>ES</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Règles</string>
			<string>STRESSEES</string>
			<string>TES</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Parfaitement</string>
			<string>STRESSEES</string>
			<string>IDEALEMENT</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Infinitif</string>
			<string>STRESSEES</string>
			<string>ER</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Rend l&apos;âme</string>
			<string>STRESSEES</string>
			<string>AGONISE</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Césium</string>
			<string>STRESSEES</string>
			<string>CS</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Seuls</string>
			<string>STRESSEES</string>
			<string>SOLITAIRES</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Négation</string>
			<string>STRESSEES</string>
			<string>NE</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Agressivité</string>
			<string>STRESSEES</string>
			<string>VIOLENCE</string>
		</array>
		<array>
			<string>Énervées</string>
			<string>Einsteinium</string>
			<string>STRESSEES</string>
			<string>ES</string>
		</array>
	</array>
</array>
</plist>
