<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Douleur</string>
			<string>Railleries</string>
			<string>SOUFFRANCE</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Douleur</string>
			<string>Décoratif</string>
			<string>SOUFFRANCE</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string>Douleur</string>
			<string>Coutumes</string>
			<string>SOUFFRANCE</string>
			<string>US</string>
		</array>
		<array>
			<string>Douleur</string>
			<string></string>
			<string>SOUFFRANCE</string>
			<string>F</string>
		</array>
		<array>
			<string>Douleur</string>
			<string>Habitation de Tahiti</string>
			<string>SOUFFRANCE</string>
			<string>FARE</string>
		</array>
		<array>
			<string>Douleur</string>
			<string>Rubidium</string>
			<string>SOUFFRANCE</string>
			<string>RB</string>
		</array>
		<array>
			<string>Douleur</string>
			<string>Scie</string>
			<string>SOUFFRANCE</string>
			<string>ARPON</string>
		</array>
		<array>
			<string>Douleur</string>
			<string>Glandaient</string>
			<string>SOUFFRANCE</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string>Douleur</string>
			<string>Adjectif démonstratif</string>
			<string>SOUFFRANCE</string>
			<string>CET</string>
		</array>
		<array>
			<string>Douleur</string>
			<string>Époques</string>
			<string>SOUFFRANCE</string>
			<string>ERES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Du cheval</string>
			<string>Railleries</string>
			<string>ARS</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Du cheval</string>
			<string>Décoratif</string>
			<string>ARS</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string>Du cheval</string>
			<string>Coutumes</string>
			<string>ARS</string>
			<string>US</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Recouvrir</string>
			<string>Habitation de Tahiti</string>
			<string>ABRIER</string>
			<string>FARE</string>
		</array>
		<array>
			<string>Recouvrir</string>
			<string>Rubidium</string>
			<string>ABRIER</string>
			<string>RB</string>
		</array>
		<array>
			<string>Recouvrir</string>
			<string>Scie</string>
			<string>ABRIER</string>
			<string>ARPON</string>
		</array>
		<array>
			<string>Recouvrir</string>
			<string>Glandaient</string>
			<string>ABRIER</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string>Recouvrir</string>
			<string>Adjectif démonstratif</string>
			<string>ABRIER</string>
			<string>CET</string>
		</array>
		<array>
			<string>Recouvrir</string>
			<string>Époques</string>
			<string>ABRIER</string>
			<string>ERES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Radon</string>
			<string>Railleries</string>
			<string>RN</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Radon</string>
			<string>Décoratif</string>
			<string>RN</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Praséodyme</string>
			<string></string>
			<string>PR</string>
			<string>P</string>
		</array>
		<array>
			<string>Praséodyme</string>
			<string>Habitation de Tahiti</string>
			<string>PR</string>
			<string>FARE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Farine détrempée et pétrie</string>
			<string>Scie</string>
			<string>PATE</string>
			<string>ARPON</string>
		</array>
		<array>
			<string>Farine détrempée et pétrie</string>
			<string>Glandaient</string>
			<string>PATE</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string>Farine détrempée et pétrie</string>
			<string>Adjectif démonstratif</string>
			<string>PATE</string>
			<string>CET</string>
		</array>
		<array>
			<string>Farine détrempée et pétrie</string>
			<string>Époques</string>
			<string>PATE</string>
			<string>ERES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Pied de vigne</string>
			<string>Railleries</string>
			<string>CEP</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Pied de vigne</string>
			<string>Décoratif</string>
			<string>CEP</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string>Pied de vigne</string>
			<string>Gaz</string>
			<string>CEP</string>
			<string>PET</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Agitation</string>
			<string>Habitation de Tahiti</string>
			<string>EMOI</string>
			<string>FARE</string>
		</array>
		<array>
			<string>Agitation</string>
			<string>Un maître</string>
			<string>EMOI</string>
			<string>MAESTRO</string>
		</array>
		<array>
			<string>Agitation</string>
			<string>Scie</string>
			<string>EMOI</string>
			<string>ARPON</string>
		</array>
		<array>
			<string>Agitation</string>
			<string>Glandaient</string>
			<string>EMOI</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Époques</string>
			<string>S</string>
			<string>ERES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Noyaux</string>
			<string>Railleries</string>
			<string>AMES</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Noyaux</string>
			<string>Décoratif</string>
			<string>AMES</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string>Noyaux</string>
			<string>Gaz</string>
			<string>AMES</string>
			<string>PET</string>
		</array>
		<array>
			<string>Noyaux</string>
			<string>Pillage</string>
			<string>AMES</string>
			<string>SAC</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Poignée</string>
			<string>Un maître</string>
			<string>ANSE</string>
			<string>MAESTRO</string>
		</array>
		<array>
			<string>Poignée</string>
			<string>Scie</string>
			<string>ANSE</string>
			<string>ARPON</string>
		</array>
		<array>
			<string>Poignée</string>
			<string>Glandaient</string>
			<string>ANSE</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string>Poignée</string>
			<string>Période</string>
			<string>ANSE</string>
			<string>ERE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Soie de porc</string>
			<string>Railleries</string>
			<string>SETACE</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Soie de porc</string>
			<string>Décoratif</string>
			<string>SETACE</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string>Soie de porc</string>
			<string>Gaz</string>
			<string>SETACE</string>
			<string>PET</string>
		</array>
		<array>
			<string>Soie de porc</string>
			<string>Pillage</string>
			<string>SETACE</string>
			<string>SAC</string>
		</array>
		<array>
			<string>Soie de porc</string>
			<string>Promontoire</string>
			<string>SETACE</string>
			<string>CAP</string>
		</array>
		<array>
			<string>Soie de porc</string>
			<string>Un maître</string>
			<string>SETACE</string>
			<string>MAESTRO</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Arme</string>
			<string>Glandaient</string>
			<string>ARC</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string>Arme</string>
			<string>Période</string>
			<string>ARC</string>
			<string>ERE</string>
		</array>
		<array>
			<string>Arme</string>
			<string>Inventée</string>
			<string>ARC</string>
			<string>CREEE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Manganèse</string>
			<string>Railleries</string>
			<string>MN</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Manganèse</string>
			<string>Décoratif</string>
			<string>MN</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Arbre tropical</string>
			<string>Pillage</string>
			<string>CASSIER</string>
			<string>SAC</string>
		</array>
		<array>
			<string>Arbre tropical</string>
			<string>Promontoire</string>
			<string>CASSIER</string>
			<string>CAP</string>
		</array>
		<array>
			<string>Arbre tropical</string>
			<string>Un maître</string>
			<string>CASSIER</string>
			<string>MAESTRO</string>
		</array>
		<array>
			<string>Arbre tropical</string>
			<string></string>
			<string>CASSIER</string>
			<string>S</string>
		</array>
		<array>
			<string>Arbre tropical</string>
			<string>Glandaient</string>
			<string>CASSIER</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string>Arbre tropical</string>
			<string>Période</string>
			<string>CASSIER</string>
			<string>ERE</string>
		</array>
		<array>
			<string>Arbre tropical</string>
			<string>Inventée</string>
			<string>CASSIER</string>
			<string>CREEE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Lettre de l'alphabet grec</string>
			<string>Railleries</string>
			<string>ETA</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Lettre de l'alphabet grec</string>
			<string>Décoratif</string>
			<string>ETA</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string>Lettre de l'alphabet grec</string>
			<string>Perroquet</string>
			<string>ETA</string>
			<string>ARA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Platine</string>
			<string>Promontoire</string>
			<string>PT</string>
			<string>CAP</string>
		</array>
		<array>
			<string>Platine</string>
			<string>Un maître</string>
			<string>PT</string>
			<string>MAESTRO</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Glandaient</string>
			<string>E</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Inventée</string>
			<string>E</string>
			<string>CREEE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Couvre la moitié de l'Inde</string>
			<string>Railleries</string>
			<string>SARI</string>
			<string>SARCASMES</string>
		</array>
		<array>
			<string>Couvre la moitié de l'Inde</string>
			<string>Décoratif</string>
			<string>SARI</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string>Couvre la moitié de l'Inde</string>
			<string>Perroquet</string>
			<string>SARI</string>
			<string>ARA</string>
		</array>
		<array>
			<string>Couvre la moitié de l'Inde</string>
			<string>Infinitif</string>
			<string>SARI</string>
			<string>IR</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Qui a un goût âcre</string>
			<string>Un maître</string>
			<string>RANCE</string>
			<string>MAESTRO</string>
		</array>
		<array>
			<string>Qui a un goût âcre</string>
			<string></string>
			<string>RANCE</string>
			<string>A</string>
		</array>
		<array>
			<string>Qui a un goût âcre</string>
			<string>Glandaient</string>
			<string>RANCE</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string>Qui a un goût âcre</string>
			<string></string>
			<string>RANCE</string>
			<string>C</string>
		</array>
		<array>
			<string>Qui a un goût âcre</string>
			<string>Inventée</string>
			<string>RANCE</string>
			<string>CREEE</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Musique: lent et ample</string>
			<string>Décoratif</string>
			<string>LARGO</string>
			<string>ORNEMENTAL</string>
		</array>
		<array>
			<string>Musique: lent et ample</string>
			<string>Perroquet</string>
			<string>LARGO</string>
			<string>ARA</string>
		</array>
		<array>
			<string>Musique: lent et ample</string>
			<string>Infinitif</string>
			<string>LARGO</string>
			<string>IR</string>
		</array>
		<array>
			<string>Musique: lent et ample</string>
			<string></string>
			<string>LARGO</string>
			<string>G</string>
		</array>
		<array>
			<string>Musique: lent et ample</string>
			<string>Un maître</string>
			<string>LARGO</string>
			<string>MAESTRO</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Glandaient</string>
			<string>T</string>
			<string>NIAISAIENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Inventée</string>
			<string>E</string>
			<string>CREEE</string>
		</array>
	</array>
</array>
</plist>
