<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Sornettes</string>
			<string>Insignifiances</string>
			<string>BALIVERNES</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string>Gentillesses</string>
			<string>BALIVERNES</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string>Monnaies roumaines</string>
			<string>BALIVERNES</string>
			<string>LEI</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string>Naïvetés</string>
			<string>BALIVERNES</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string>Cales</string>
			<string>BALIVERNES</string>
			<string>VES</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string>Infinitif</string>
			<string>BALIVERNES</string>
			<string>ER</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string>En surplus</string>
			<string>BALIVERNES</string>
			<string>RAB</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string>Rejetait</string>
			<string>BALIVERNES</string>
			<string>NIAIT</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string>Point cardinal</string>
			<string>BALIVERNES</string>
			<string>EST</string>
		</array>
		<array>
			<string>Sornettes</string>
			<string></string>
			<string>BALIVERNES</string>
			<string>S</string>
		</array>
	</array>
	<array>
		<array>
			<string>Conduirais</string>
			<string>Insignifiances</string>
			<string>AMENERAIS</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Conduirais</string>
			<string>Gentillesses</string>
			<string>AMENERAIS</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string>Conduirais</string>
			<string>Monnaies roumaines</string>
			<string>AMENERAIS</string>
			<string>LEI</string>
		</array>
		<array>
			<string>Conduirais</string>
			<string>Naïvetés</string>
			<string>AMENERAIS</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string>Conduirais</string>
			<string>Cales</string>
			<string>AMENERAIS</string>
			<string>VES</string>
		</array>
		<array>
			<string>Conduirais</string>
			<string>Infinitif</string>
			<string>AMENERAIS</string>
			<string>ER</string>
		</array>
		<array>
			<string>Conduirais</string>
			<string>En surplus</string>
			<string>AMENERAIS</string>
			<string>RAB</string>
		</array>
		<array>
			<string>Conduirais</string>
			<string>Rejetait</string>
			<string>AMENERAIS</string>
			<string>NIAIT</string>
		</array>
		<array>
			<string>Conduirais</string>
			<string>Point cardinal</string>
			<string>AMENERAIS</string>
			<string>EST</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Ils sont petits</string>
			<string>Insignifiances</string>
			<string>NAINS</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Ils sont petits</string>
			<string>Gentillesses</string>
			<string>NAINS</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string>Ils sont petits</string>
			<string>Monnaies roumaines</string>
			<string>NAINS</string>
			<string>LEI</string>
		</array>
		<array>
			<string>Ils sont petits</string>
			<string>Naïvetés</string>
			<string>NAINS</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string>Ils sont petits</string>
			<string>Cales</string>
			<string>NAINS</string>
			<string>VES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Épatant</string>
			<string>En surplus</string>
			<string>BATH</string>
			<string>RAB</string>
		</array>
		<array>
			<string>Épatant</string>
			<string>Rejetait</string>
			<string>BATH</string>
			<string>NIAIT</string>
		</array>
		<array>
			<string>Épatant</string>
			<string>Point cardinal</string>
			<string>BATH</string>
			<string>EST</string>
		</array>
		<array>
			<string>Épatant</string>
			<string>Risques</string>
			<string>BATH</string>
			<string>HASARDES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Assez bien</string>
			<string>Insignifiances</string>
			<string>AB</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Assez bien</string>
			<string>Gentillesses</string>
			<string>AB</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Naïvetés</string>
			<string>O</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Numérisations</string>
			<string>S</string>
			<string>SCANS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Rejetait</string>
			<string>I</string>
			<string>NIAIT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Risques</string>
			<string>A</string>
			<string>HASARDES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Mesure chinoise</string>
			<string>Insignifiances</string>
			<string>LI</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Mesure chinoise</string>
			<string>Gentillesses</string>
			<string>LI</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Aveuglements</string>
			<string>Naïvetés</string>
			<string>CECITES</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string>Aveuglements</string>
			<string>Le moi</string>
			<string>CECITES</string>
			<string>EGO</string>
		</array>
		<array>
			<string>Aveuglements</string>
			<string>Numérisations</string>
			<string>CECITES</string>
			<string>SCANS</string>
		</array>
		<array>
			<string>Aveuglements</string>
			<string>Groupes de maisons aux Antilles</string>
			<string>CECITES</string>
			<string>ILETS</string>
		</array>
		<array>
			<string>Aveuglements</string>
			<string>Rejetait</string>
			<string>CECITES</string>
			<string>NIAIT</string>
		</array>
		<array>
			<string>Aveuglements</string>
			<string>Dans un titre universitaire</string>
			<string>CECITES</string>
			<string>ES</string>
		</array>
		<array>
			<string>Aveuglements</string>
			<string>Risques</string>
			<string>CECITES</string>
			<string>HASARDES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Contraire à la loi</string>
			<string>Insignifiances</string>
			<string>ILLEGAL</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Contraire à la loi</string>
			<string>Gentillesses</string>
			<string>ILLEGAL</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string>Contraire à la loi</string>
			<string></string>
			<string>ILLEGAL</string>
			<string>L</string>
		</array>
		<array>
			<string>Contraire à la loi</string>
			<string>Naïvetés</string>
			<string>ILLEGAL</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string>Contraire à la loi</string>
			<string>Le moi</string>
			<string>ILLEGAL</string>
			<string>EGO</string>
		</array>
		<array>
			<string>Contraire à la loi</string>
			<string>Numérisations</string>
			<string>ILLEGAL</string>
			<string>SCANS</string>
		</array>
		<array>
			<string>Contraire à la loi</string>
			<string>Groupes de maisons aux Antilles</string>
			<string>ILLEGAL</string>
			<string>ILETS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Possessif</string>
			<string>Dans un titre universitaire</string>
			<string>SA</string>
			<string>ES</string>
		</array>
		<array>
			<string>Possessif</string>
			<string>Risques</string>
			<string>SA</string>
			<string>HASARDES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Titane</string>
			<string>Insignifiances</string>
			<string>TI</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Titane</string>
			<string>Gentillesses</string>
			<string>TI</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Offices de la neuvième heure</string>
			<string>Naïvetés</string>
			<string>NONES</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string>Offices de la neuvième heure</string>
			<string>Le moi</string>
			<string>NONES</string>
			<string>EGO</string>
		</array>
		<array>
			<string>Offices de la neuvième heure</string>
			<string>Numérisations</string>
			<string>NONES</string>
			<string>SCANS</string>
		</array>
		<array>
			<string>Offices de la neuvième heure</string>
			<string>Groupes de maisons aux Antilles</string>
			<string>NONES</string>
			<string>ILETS</string>
		</array>
		<array>
			<string>Offices de la neuvième heure</string>
			<string>Contenants</string>
			<string>NONES</string>
			<string>SACS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Risques</string>
			<string>R</string>
			<string>HASARDES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Tête de rocher</string>
			<string>Insignifiances</string>
			<string>ETOC</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Tête de rocher</string>
			<string>Gentillesses</string>
			<string>ETOC</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string>Tête de rocher</string>
			<string></string>
			<string>ETOC</string>
			<string>O</string>
		</array>
		<array>
			<string>Tête de rocher</string>
			<string>Naïvetés</string>
			<string>ETOC</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Emplacement dans une exposition</string>
			<string>Numérisations</string>
			<string>STAND</string>
			<string>SCANS</string>
		</array>
		<array>
			<string>Emplacement dans une exposition</string>
			<string>Groupes de maisons aux Antilles</string>
			<string>STAND</string>
			<string>ILETS</string>
		</array>
		<array>
			<string>Emplacement dans une exposition</string>
			<string>Contenants</string>
			<string>STAND</string>
			<string>SACS</string>
		</array>
		<array>
			<string>Emplacement dans une exposition</string>
			<string>Refute</string>
			<string>STAND</string>
			<string>NIE</string>
		</array>
		<array>
			<string>Emplacement dans une exposition</string>
			<string>Risques</string>
			<string>STAND</string>
			<string>HASARDES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Pronom personnel</string>
			<string>Insignifiances</string>
			<string>SE</string>
			<string>BANALITES</string>
		</array>
		<array>
			<string>Pronom personnel</string>
			<string>Gentillesses</string>
			<string>SE</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Indique la manière</string>
			<string>Naïvetés</string>
			<string>EN</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string>Indique la manière</string>
			<string>Néon</string>
			<string>EN</string>
			<string>NE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Ègoïne</string>
			<string>Groupes de maisons aux Antilles</string>
			<string>SCIE</string>
			<string>ILETS</string>
		</array>
		<array>
			<string>Ègoïne</string>
			<string>Contenants</string>
			<string>SCIE</string>
			<string>SACS</string>
		</array>
		<array>
			<string>Ègoïne</string>
			<string>Refute</string>
			<string>SCIE</string>
			<string>NIE</string>
		</array>
		<array>
			<string>Ègoïne</string>
			<string>Risques</string>
			<string>SCIE</string>
			<string>HASARDES</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Situées</string>
			<string>Gentillesses</string>
			<string>SISES</string>
			<string>AMABILITES</string>
		</array>
		<array>
			<string>Situées</string>
			<string></string>
			<string>SISES</string>
			<string>I</string>
		</array>
		<array>
			<string>Situées</string>
			<string>Naïvetés</string>
			<string>SISES</string>
			<string>INNOCENCES</string>
		</array>
		<array>
			<string>Situées</string>
			<string>Néon</string>
			<string>SISES</string>
			<string>NE</string>
		</array>
		<array>
			<string>Situées</string>
			<string></string>
			<string>SISES</string>
			<string>S</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Possessif</string>
			<string>Contenants</string>
			<string>SES</string>
			<string>SACS</string>
		</array>
		<array>
			<string>Possessif</string>
			<string>Refute</string>
			<string>SES</string>
			<string>NIE</string>
		</array>
		<array>
			<string>Possessif</string>
			<string>Risques</string>
			<string>SES</string>
			<string>HASARDES</string>
		</array>
	</array>
</array>
</plist>
