<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Anciennes armes</string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>ARQUEBUSES</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string>Île de France</string>
			<string>ARQUEBUSES</string>
			<string>RE</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string>Qui signifie quatre</string>
			<string>ARQUEBUSES</string>
			<string>QUADRI</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string>Coutumes</string>
			<string>ARQUEBUSES</string>
			<string>US</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string>Une Inuit</string>
			<string>ARQUEBUSES</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string>Bismuth</string>
			<string>ARQUEBUSES</string>
			<string>BI</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string>Employable</string>
			<string>ARQUEBUSES</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string>Pronom personnel</string>
			<string>ARQUEBUSES</string>
			<string>SE</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string>Crochet double</string>
			<string>ARQUEBUSES</string>
			<string>ESSE</string>
		</array>
		<array>
			<string>Anciennes armes</string>
			<string></string>
			<string>ARQUEBUSES</string>
			<string>S</string>
		</array>
	</array>
	<array>
		<array>
			<string>Succès</string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>REUSSITES</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string>Succès</string>
			<string>Île de France</string>
			<string>REUSSITES</string>
			<string>RE</string>
		</array>
		<array>
			<string>Succès</string>
			<string>Qui signifie quatre</string>
			<string>REUSSITES</string>
			<string>QUADRI</string>
		</array>
		<array>
			<string>Succès</string>
			<string>Coutumes</string>
			<string>REUSSITES</string>
			<string>US</string>
		</array>
		<array>
			<string>Succès</string>
			<string>Une Inuit</string>
			<string>REUSSITES</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string>Succès</string>
			<string>Bismuth</string>
			<string>REUSSITES</string>
			<string>BI</string>
		</array>
		<array>
			<string>Succès</string>
			<string>Employable</string>
			<string>REUSSITES</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string>Succès</string>
			<string>Pronom personnel</string>
			<string>REUSSITES</string>
			<string>SE</string>
		</array>
		<array>
			<string>Succès</string>
			<string>Crochet double</string>
			<string>REUSSITES</string>
			<string>ESSE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>M</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Qui signifie quatre</string>
			<string>A</string>
			<string>QUADRI</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Une Inuit</string>
			<string>Q</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Employable</string>
			<string>I</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Direction</string>
			<string>Crochet double</string>
			<string>SO</string>
			<string>ESSE</string>
		</array>
		<array>
			<string>Direction</string>
			<string>Bien bâties</string>
			<string>SO</string>
			<string>OSSUES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Chagrinés</string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>ENDEUILLES</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string></string>
			<string>ENDEUILLES</string>
			<string>N</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string>Qui signifie quatre</string>
			<string>ENDEUILLES</string>
			<string>QUADRI</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string></string>
			<string>ENDEUILLES</string>
			<string>E</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string>Une Inuit</string>
			<string>ENDEUILLES</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string></string>
			<string>ENDEUILLES</string>
			<string>I</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string>Employable</string>
			<string>ENDEUILLES</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string>Lawrencium</string>
			<string>ENDEUILLES</string>
			<string>LR</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string>Crochet double</string>
			<string>ENDEUILLES</string>
			<string>ESSE</string>
		</array>
		<array>
			<string>Chagrinés</string>
			<string>Bien bâties</string>
			<string>ENDEUILLES</string>
			<string>OSSUES</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>N</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Qui signifie quatre</string>
			<string>R</string>
			<string>QUADRI</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Une Inuit</string>
			<string>I</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Infinitif</string>
			<string>Employable</string>
			<string>IR</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string>Infinitif</string>
			<string>Lawrencium</string>
			<string>IR</string>
			<string>LR</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Bien bâties</string>
			<string>S</string>
			<string>OSSUES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Dialectes</string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>IDIOMES</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string>Dialectes</string>
			<string>Délégué syndicale</string>
			<string>IDIOMES</string>
			<string>DS</string>
		</array>
		<array>
			<string>Dialectes</string>
			<string>Qui signifie quatre</string>
			<string>IDIOMES</string>
			<string>QUADRI</string>
		</array>
		<array>
			<string>Dialectes</string>
			<string>Risquai</string>
			<string>IDIOMES</string>
			<string>OSAI</string>
		</array>
		<array>
			<string>Dialectes</string>
			<string>Une Inuit</string>
			<string>IDIOMES</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string>Dialectes</string>
			<string>Jamais le dernier mot</string>
			<string>IDIOMES</string>
			<string>ET</string>
		</array>
		<array>
			<string>Dialectes</string>
			<string>Employable</string>
			<string>IDIOMES</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Dette</string>
			<string>Compact</string>
			<string>DU</string>
			<string>DENSE</string>
		</array>
		<array>
			<string>Dette</string>
			<string>Bien bâties</string>
			<string>DU</string>
			<string>OSSUES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Existes</string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>ES</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string>Existes</string>
			<string>Délégué syndicale</string>
			<string>ES</string>
			<string>DS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Maudite</string>
			<string>Risquai</string>
			<string>SATANEE</string>
			<string>OSAI</string>
		</array>
		<array>
			<string>Maudite</string>
			<string>Une Inuit</string>
			<string>SATANEE</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string>Maudite</string>
			<string>Jamais le dernier mot</string>
			<string>SATANEE</string>
			<string>ET</string>
		</array>
		<array>
			<string>Maudite</string>
			<string>Employable</string>
			<string>SATANEE</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string>Maudite</string>
			<string>Patriarche</string>
			<string>SATANEE</string>
			<string>NOE</string>
		</array>
		<array>
			<string>Maudite</string>
			<string>Compact</string>
			<string>SATANEE</string>
			<string>DENSE</string>
		</array>
		<array>
			<string>Maudite</string>
			<string>Bien bâties</string>
			<string>SATANEE</string>
			<string>OSSUES</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>N</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Liquide</string>
			<string></string>
			<string>EAU</string>
			<string>E</string>
		</array>
		<array>
			<string>Liquide</string>
			<string>Risquai</string>
			<string>EAU</string>
			<string>OSAI</string>
		</array>
		<array>
			<string>Liquide</string>
			<string>Une Inuit</string>
			<string>EAU</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Justes</string>
			<string>Employable</string>
			<string>BONS</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string>Justes</string>
			<string>Patriarche</string>
			<string>BONS</string>
			<string>NOE</string>
		</array>
		<array>
			<string>Justes</string>
			<string>Compact</string>
			<string>BONS</string>
			<string>DENSE</string>
		</array>
		<array>
			<string>Justes</string>
			<string>Bien bâties</string>
			<string>BONS</string>
			<string>OSSUES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Neptunium</string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>NP</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string>Neptunium</string>
			<string>Plutonium</string>
			<string>NP</string>
			<string>PU</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Vedettes</string>
			<string>Risquai</string>
			<string>IDOLES</string>
			<string>OSAI</string>
		</array>
		<array>
			<string>Vedettes</string>
			<string>Une Inuit</string>
			<string>IDOLES</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string>Vedettes</string>
			<string>Conjonction</string>
			<string>IDOLES</string>
			<string>OR</string>
		</array>
		<array>
			<string>Vedettes</string>
			<string>Employable</string>
			<string>IDOLES</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string>Vedettes</string>
			<string>Patriarche</string>
			<string>IDOLES</string>
			<string>NOE</string>
		</array>
		<array>
			<string>Vedettes</string>
			<string>Compact</string>
			<string>IDOLES</string>
			<string>DENSE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Obtenus</string>
			<string>Habitante d'une région de l'Asie occidentale</string>
			<string>EUS</string>
			<string>ARMENIENNE</string>
		</array>
		<array>
			<string>Obtenus</string>
			<string>Plutonium</string>
			<string>EUS</string>
			<string>PU</string>
		</array>
		<array>
			<string>Obtenus</string>
			<string></string>
			<string>EUS</string>
			<string>S</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Époque</string>
			<string>Une Inuit</string>
			<string>ERE</string>
			<string>ESQUIMAUDE</string>
		</array>
		<array>
			<string>Époque</string>
			<string>Conjonction</string>
			<string>ERE</string>
			<string>OR</string>
		</array>
		<array>
			<string>Époque</string>
			<string>Employable</string>
			<string>ERE</string>
			<string>UTILISABLE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Terminaison</string>
			<string>Compact</string>
			<string>ER</string>
			<string>DENSE</string>
		</array>
		<array>
			<string>Terminaison</string>
			<string></string>
			<string>ER</string>
			<string>R</string>
		</array>
	</array>
</array>
</plist>
