<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Représentant du roi</string>
			<string>Elle habite une république caucasienne</string>
			<string>GOUVERNEUR</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Bien bâtie</string>
			<string>GOUVERNEUR</string>
			<string>OSSUE</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Fatiguée</string>
			<string>GOUVERNEUR</string>
			<string>USEE</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Cales</string>
			<string>GOUVERNEUR</string>
			<string>VES</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Dans</string>
			<string>GOUVERNEUR</string>
			<string>EN</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Une longue suite</string>
			<string>GOUVERNEUR</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Arrivées</string>
			<string>GOUVERNEUR</string>
			<string>NEES</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Indique la manière</string>
			<string>GOUVERNEUR</string>
			<string>EN</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Avant les autres</string>
			<string>GOUVERNEUR</string>
			<string>UNS</string>
		</array>
		<array>
			<string>Représentant du roi</string>
			<string>Tangibles</string>
			<string>GOUVERNEUR</string>
			<string>REELS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Elle habite une république caucasienne</string>
			<string>ESSENIENNE</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Bien bâtie</string>
			<string>ESSENIENNE</string>
			<string>OSSUE</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Fatiguée</string>
			<string>ESSENIENNE</string>
			<string>USEE</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Cales</string>
			<string>ESSENIENNE</string>
			<string>VES</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Dans</string>
			<string>ESSENIENNE</string>
			<string>EN</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Une longue suite</string>
			<string>ESSENIENNE</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Arrivées</string>
			<string>ESSENIENNE</string>
			<string>NEES</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Indique la manière</string>
			<string>ESSENIENNE</string>
			<string>EN</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Avant les autres</string>
			<string>ESSENIENNE</string>
			<string>UNS</string>
		</array>
		<array>
			<string>Relative à une secte juive de l&apos;antiquité</string>
			<string>Tangibles</string>
			<string>ESSENIENNE</string>
			<string>REELS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Fonces</string>
			<string>Elle habite une république caucasienne</string>
			<string>OSES</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>Fonces</string>
			<string>Bien bâtie</string>
			<string>OSES</string>
			<string>OSSUE</string>
		</array>
		<array>
			<string>Fonces</string>
			<string>Fatiguée</string>
			<string>OSES</string>
			<string>USEE</string>
		</array>
		<array>
			<string>Fonces</string>
			<string>Cales</string>
			<string>OSES</string>
			<string>VES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Béryllium</string>
			<string>Une longue suite</string>
			<string>BE</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>Béryllium</string>
			<string>Arrivées</string>
			<string>BE</string>
			<string>NEES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Pronom personnel</string>
			<string>Avant les autres</string>
			<string>SE</string>
			<string>UNS</string>
		</array>
		<array>
			<string>Pronom personnel</string>
			<string>Tangibles</string>
			<string>SE</string>
			<string>REELS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Les gens y circulent</string>
			<string>Elle habite une république caucasienne</string>
			<string>RUE</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>Les gens y circulent</string>
			<string>Bien bâtie</string>
			<string>RUE</string>
			<string>OSSUE</string>
		</array>
		<array>
			<string>Les gens y circulent</string>
			<string>Fatiguée</string>
			<string>RUE</string>
			<string>USEE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Aime la douleur</string>
			<string>Mégabyte</string>
			<string>MASO</string>
			<string>MB</string>
		</array>
		<array>
			<string>Aime la douleur</string>
			<string>Une longue suite</string>
			<string>MASO</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>Aime la douleur</string>
			<string>Arrivées</string>
			<string>MASO</string>
			<string>NEES</string>
		</array>
		<array>
			<string>Aime la douleur</string>
			<string>Organisation dépendant de l&apos;ONU</string>
			<string>MASO</string>
			<string>OMS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Tangibles</string>
			<string>L</string>
			<string>REELS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Mère des Titans</string>
			<string>Elle habite une république caucasienne</string>
			<string>GE</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>Mère des Titans</string>
			<string>Bien bâtie</string>
			<string>GE</string>
			<string>OSSUE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Multinationale américaine</string>
			<string>Cité légendaire</string>
			<string>IBM</string>
			<string>IS</string>
		</array>
		<array>
			<string>Multinationale américaine</string>
			<string>Mégabyte</string>
			<string>IBM</string>
			<string>MB</string>
		</array>
		<array>
			<string>Multinationale américaine</string>
			<string>Une longue suite</string>
			<string>IBM</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Vêtu</string>
			<string>Organisation dépendant de l&apos;ONU</string>
			<string>MIS</string>
			<string>OMS</string>
		</array>
		<array>
			<string>Vêtu</string>
			<string>Norme internationale</string>
			<string>MIS</string>
			<string>ISO</string>
		</array>
		<array>
			<string>Vêtu</string>
			<string>Tangibles</string>
			<string>MIS</string>
			<string>REELS</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Elle habite une république caucasienne</string>
			<string>I</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Existes</string>
			<string>Oriental</string>
			<string>ES</string>
			<string>EST</string>
		</array>
		<array>
			<string>Existes</string>
			<string>Cité légendaire</string>
			<string>ES</string>
			<string>IS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Patron</string>
			<string>Une longue suite</string>
			<string>BOSS</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>Patron</string>
			<string>Fenêtre</string>
			<string>BOSS</string>
			<string>ORIEL</string>
		</array>
		<array>
			<string>Patron</string>
			<string>Organisation dépendant de l&apos;ONU</string>
			<string>BOSS</string>
			<string>OMS</string>
		</array>
		<array>
			<string>Patron</string>
			<string>Norme internationale</string>
			<string>BOSS</string>
			<string>ISO</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>École Normale Supérieure</string>
			<string>Elle habite une république caucasienne</string>
			<string>ENS</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>École Normale Supérieure</string>
			<string>Galette de pain de l&apos;Inde</string>
			<string>ENS</string>
			<string>NAAN</string>
		</array>
		<array>
			<string>École Normale Supérieure</string>
			<string>Oriental</string>
			<string>ENS</string>
			<string>EST</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Sous le navire</string>
			<string>Bonne action</string>
			<string>BER</string>
			<string>BA</string>
		</array>
		<array>
			<string>Sous le navire</string>
			<string>Une longue suite</string>
			<string>BER</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>Sous le navire</string>
			<string>Fenêtre</string>
			<string>BER</string>
			<string>ORIEL</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>À quel endroit</string>
			<string>Norme internationale</string>
			<string>OU</string>
			<string>ISO</string>
		</array>
		<array>
			<string>À quel endroit</string>
			<string>Amérindiens</string>
			<string>OU</string>
			<string>UTES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Prénom féminin</string>
			<string>Elle habite une république caucasienne</string>
			<string>NATHALIE</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>Prénom féminin</string>
			<string>Galette de pain de l&apos;Inde</string>
			<string>NATHALIE</string>
			<string>NAAN</string>
		</array>
		<array>
			<string>Prénom féminin</string>
			<string>Oriental</string>
			<string>NATHALIE</string>
			<string>EST</string>
		</array>
		<array>
			<string>Prénom féminin</string>
			<string>Détesté</string>
			<string>NATHALIE</string>
			<string>HAI</string>
		</array>
		<array>
			<string>Prénom féminin</string>
			<string>Bonne action</string>
			<string>NATHALIE</string>
			<string>BA</string>
		</array>
		<array>
			<string>Prénom féminin</string>
			<string>Une longue suite</string>
			<string>NATHALIE</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>Prénom féminin</string>
			<string>Fenêtre</string>
			<string>NATHALIE</string>
			<string>ORIEL</string>
		</array>
		<array>
			<string>Prénom féminin</string>
			<string>Le temps des vacances</string>
			<string>NATHALIE</string>
			<string>ETE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Amérindiens</string>
			<string>T</string>
			<string>UTES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Exclamation enfantine</string>
			<string>Elle habite une république caucasienne</string>
			<string>NA</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>Exclamation enfantine</string>
			<string>Galette de pain de l&apos;Inde</string>
			<string>NA</string>
			<string>NAAN</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Détesté</string>
			<string>A</string>
			<string>HAI</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>De Lettonie</string>
			<string>Une longue suite</string>
			<string>LETTE</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>De Lettonie</string>
			<string>Fenêtre</string>
			<string>LETTE</string>
			<string>ORIEL</string>
		</array>
		<array>
			<string>De Lettonie</string>
			<string>Le temps des vacances</string>
			<string>LETTE</string>
			<string>ETE</string>
		</array>
		<array>
			<string>De Lettonie</string>
			<string>Règle</string>
			<string>LETTE</string>
			<string>TE</string>
		</array>
		<array>
			<string>De Lettonie</string>
			<string>Amérindiens</string>
			<string>LETTE</string>
			<string>UTES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Bien attachées</string>
			<string>Elle habite une république caucasienne</string>
			<string>ENFICELEES</string>
			<string>GEORGIENNE</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string>Galette de pain de l&apos;Inde</string>
			<string>ENFICELEES</string>
			<string>NAAN</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string></string>
			<string>ENFICELEES</string>
			<string>F</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string>Détesté</string>
			<string>ENFICELEES</string>
			<string>HAI</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string></string>
			<string>ENFICELEES</string>
			<string>C</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string>Une longue suite</string>
			<string>ENFICELEES</string>
			<string>RIBAMBELLE</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string>Fenêtre</string>
			<string>ENFICELEES</string>
			<string>ORIEL</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string>Le temps des vacances</string>
			<string>ENFICELEES</string>
			<string>ETE</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string>Règle</string>
			<string>ENFICELEES</string>
			<string>TE</string>
		</array>
		<array>
			<string>Bien attachées</string>
			<string>Amérindiens</string>
			<string>ENFICELEES</string>
			<string>UTES</string>
		</array>
	</array>
</array>
</plist>
