<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Instrument avec un bec</string>
			<string>Envisager</string>
			<string>CLARINETTE</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string>Lieutenant</string>
			<string>CLARINETTE</string>
			<string>LT</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string>Ventile</string>
			<string>CLARINETTE</string>
			<string>AERE</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string></string>
			<string>CLARINETTE</string>
			<string>R</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string>Marcheras</string>
			<string>CLARINETTE</string>
			<string>IRAS</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string>Abri</string>
			<string>CLARINETTE</string>
			<string>NID</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string>À l&apos;intérieur</string>
			<string>CLARINETTE</string>
			<string>EN</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>CLARINETTE</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string>Les golfeurs en ont toujours au moins un</string>
			<string>CLARINETTE</string>
			<string>TEE</string>
		</array>
		<array>
			<string>Instrument avec un bec</string>
			<string>Souhaite</string>
			<string>CLARINETTE</string>
			<string>ESPERE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Défalque</string>
			<string>Envisager</string>
			<string>OTE</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>Défalque</string>
			<string>Lieutenant</string>
			<string>OTE</string>
			<string>LT</string>
		</array>
		<array>
			<string>Défalque</string>
			<string>Ventile</string>
			<string>OTE</string>
			<string>AERE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Laves</string>
			<string>Marcheras</string>
			<string>RINCES</string>
			<string>IRAS</string>
		</array>
		<array>
			<string>Laves</string>
			<string>Abri</string>
			<string>RINCES</string>
			<string>NID</string>
		</array>
		<array>
			<string>Laves</string>
			<string>À l&apos;intérieur</string>
			<string>RINCES</string>
			<string>EN</string>
		</array>
		<array>
			<string>Laves</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>RINCES</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string>Laves</string>
			<string>Les golfeurs en ont toujours au moins un</string>
			<string>RINCES</string>
			<string>TEE</string>
		</array>
		<array>
			<string>Laves</string>
			<string>Souhaite</string>
			<string>RINCES</string>
			<string>ESPERE</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Envisager</string>
			<string>N</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Au Maroc, maison traditionnelle</string>
			<string>Ventile</string>
			<string>RIAD</string>
			<string>AERE</string>
		</array>
		<array>
			<string>Au Maroc, maison traditionnelle</string>
			<string>Fade</string>
			<string>RIAD</string>
			<string>INSIPIDE</string>
		</array>
		<array>
			<string>Au Maroc, maison traditionnelle</string>
			<string>Marcheras</string>
			<string>RIAD</string>
			<string>IRAS</string>
		</array>
		<array>
			<string>Au Maroc, maison traditionnelle</string>
			<string>Abri</string>
			<string>RIAD</string>
			<string>NID</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Interjection</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>HEP</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string>Interjection</string>
			<string>Les golfeurs en ont toujours au moins un</string>
			<string>HEP</string>
			<string>TEE</string>
		</array>
		<array>
			<string>Interjection</string>
			<string>Souhaite</string>
			<string>HEP</string>
			<string>ESPERE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Pas les tiens</string>
			<string>Envisager</string>
			<string>SIENS</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>Pas les tiens</string>
			<string>Insolite</string>
			<string>SIENS</string>
			<string>INUSITE</string>
		</array>
		<array>
			<string>Pas les tiens</string>
			<string>Ventile</string>
			<string>SIENS</string>
			<string>AERE</string>
		</array>
		<array>
			<string>Pas les tiens</string>
			<string>Fade</string>
			<string>SIENS</string>
			<string>INSIPIDE</string>
		</array>
		<array>
			<string>Pas les tiens</string>
			<string>Marcheras</string>
			<string>SIENS</string>
			<string>IRAS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Tantale</string>
			<string></string>
			<string>TA</string>
			<string>T</string>
		</array>
		<array>
			<string>Tantale</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>TA</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Souhaite</string>
			<string>E</string>
			<string>ESPERE</string>
		</array>
	</array>
	<array>
		<array>
			<string>À la mode</string>
			<string>Envisager</string>
			<string>IN</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>À la mode</string>
			<string>Insolite</string>
			<string>IN</string>
			<string>INUSITE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Fade</string>
			<string>S</string>
			<string>INSIPIDE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Taché</string>
			<string>S</string>
			<string>SALI</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Terme de belote</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>DER</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string>Terme de belote</string>
			<string>Elle a déjà représenté la moitié de l&apos;humanité</string>
			<string>DER</string>
			<string>EVE</string>
		</array>
		<array>
			<string>Terme de belote</string>
			<string>Souhaite</string>
			<string>DER</string>
			<string>ESPERE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Incertaine</string>
			<string>Envisager</string>
			<string>DUBITATIVE</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string>Insolite</string>
			<string>DUBITATIVE</string>
			<string>INUSITE</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string></string>
			<string>DUBITATIVE</string>
			<string>B</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string>Fade</string>
			<string>DUBITATIVE</string>
			<string>INSIPIDE</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string>Tignasses</string>
			<string>DUBITATIVE</string>
			<string>TIFS</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string>Taché</string>
			<string>DUBITATIVE</string>
			<string>SALI</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string>Thallium</string>
			<string>DUBITATIVE</string>
			<string>TL</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>DUBITATIVE</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string>Elle a déjà représenté la moitié de l&apos;humanité</string>
			<string>DUBITATIVE</string>
			<string>EVE</string>
		</array>
		<array>
			<string>Incertaine</string>
			<string>Souhaite</string>
			<string>DUBITATIVE</string>
			<string>ESPERE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Existes</string>
			<string>Envisager</string>
			<string>ES</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>Existes</string>
			<string>Insolite</string>
			<string>ES</string>
			<string>INUSITE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Dévalisée</string>
			<string>Fade</string>
			<string>PILLEE</string>
			<string>INSIPIDE</string>
		</array>
		<array>
			<string>Dévalisée</string>
			<string>Tignasses</string>
			<string>PILLEE</string>
			<string>TIFS</string>
		</array>
		<array>
			<string>Dévalisée</string>
			<string>Taché</string>
			<string>PILLEE</string>
			<string>SALI</string>
		</array>
		<array>
			<string>Dévalisée</string>
			<string>Thallium</string>
			<string>PILLEE</string>
			<string>TL</string>
		</array>
		<array>
			<string>Dévalisée</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>PILLEE</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string>Dévalisée</string>
			<string>Elle a déjà représenté la moitié de l&apos;humanité</string>
			<string>PILLEE</string>
			<string>EVE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Bagarre</string>
			<string>Envisager</string>
			<string>RIFIFI</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>Bagarre</string>
			<string>Insolite</string>
			<string>RIFIFI</string>
			<string>INUSITE</string>
		</array>
		<array>
			<string>Bagarre</string>
			<string></string>
			<string>RIFIFI</string>
			<string>F</string>
		</array>
		<array>
			<string>Bagarre</string>
			<string>Fade</string>
			<string>RIFIFI</string>
			<string>INSIPIDE</string>
		</array>
		<array>
			<string>Bagarre</string>
			<string>Tignasses</string>
			<string>RIFIFI</string>
			<string>TIFS</string>
		</array>
		<array>
			<string>Bagarre</string>
			<string>Taché</string>
			<string>RIFIFI</string>
			<string>SALI</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>N</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Grande école</string>
			<string>E</string>
			<string>ENA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Jamais le dernier mot</string>
			<string>Envisager</string>
			<string>ET</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>Jamais le dernier mot</string>
			<string>Insolite</string>
			<string>ET</string>
			<string>INUSITE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Délégué syndicale</string>
			<string>Fade</string>
			<string>DS</string>
			<string>INSIPIDE</string>
		</array>
		<array>
			<string>Délégué syndicale</string>
			<string>Tignasses</string>
			<string>DS</string>
			<string>TIFS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Baffe</string>
			<string>Mère des Titans</string>
			<string>GNON</string>
			<string>GE</string>
		</array>
		<array>
			<string>Baffe</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>GNON</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string>Baffe</string>
			<string>Conjonction</string>
			<string>GNON</string>
			<string>OR</string>
		</array>
		<array>
			<string>Baffe</string>
			<string>Grande école</string>
			<string>GNON</string>
			<string>ENA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Prénom</string>
			<string>Envisager</string>
			<string>RENE</string>
			<string>CONSIDERER</string>
		</array>
		<array>
			<string>Prénom</string>
			<string>Insolite</string>
			<string>RENE</string>
			<string>INUSITE</string>
		</array>
		<array>
			<string>Prénom</string>
			<string></string>
			<string>RENE</string>
			<string>N</string>
		</array>
		<array>
			<string>Prénom</string>
			<string>Fade</string>
			<string>RENE</string>
			<string>INSIPIDE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Bramera</string>
			<string></string>
			<string>REERA</string>
			<string>R</string>
		</array>
		<array>
			<string>Bramera</string>
			<string>Mère des Titans</string>
			<string>REERA</string>
			<string>GE</string>
		</array>
		<array>
			<string>Bramera</string>
			<string>Elle habite un pays d&apos;Afrique</string>
			<string>REERA</string>
			<string>TCHADIENNE</string>
		</array>
		<array>
			<string>Bramera</string>
			<string>Conjonction</string>
			<string>REERA</string>
			<string>OR</string>
		</array>
		<array>
			<string>Bramera</string>
			<string>Grande école</string>
			<string>REERA</string>
			<string>ENA</string>
		</array>
	</array>
</array>
</plist>
