<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Disgression</string>
			<string>Action de soigner</string>
			<string>PARENTHESE</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Disgression</string>
			<string>Rigidités</string>
			<string>PARENTHESE</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string>Disgression</string>
			<string>Île de France</string>
			<string>PARENTHESE</string>
			<string>RE</string>
		</array>
		<array>
			<string>Disgression</string>
			<string></string>
			<string>PARENTHESE</string>
			<string>E</string>
		</array>
		<array>
			<string>Disgression</string>
			<string></string>
			<string>PARENTHESE</string>
			<string>N</string>
		</array>
		<array>
			<string>Disgression</string>
			<string>Très bien</string>
			<string>PARENTHESE</string>
			<string>TB</string>
		</array>
		<array>
			<string>Disgression</string>
			<string>Tueries</string>
			<string>PARENTHESE</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string>Disgression</string>
			<string>Indique la façon</string>
			<string>PARENTHESE</string>
			<string>EN</string>
		</array>
		<array>
			<string>Disgression</string>
			<string>Traversais</string>
			<string>PARENTHESE</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Disgression</string>
			<string>Harnachas</string>
			<string>PARENTHESE</string>
			<string>ENRENAS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Trompée</string>
			<string>Action de soigner</string>
			<string>EUE</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Trompée</string>
			<string>Rigidités</string>
			<string>EUE</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string>Trompée</string>
			<string>Île de France</string>
			<string>EUE</string>
			<string>RE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Sans conséquence grave</string>
			<string>Très bien</string>
			<string>BENIN</string>
			<string>TB</string>
		</array>
		<array>
			<string>Sans conséquence grave</string>
			<string>Tueries</string>
			<string>BENIN</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string>Sans conséquence grave</string>
			<string>Indique la façon</string>
			<string>BENIN</string>
			<string>EN</string>
		</array>
		<array>
			<string>Sans conséquence grave</string>
			<string>Traversais</string>
			<string>BENIN</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Sans conséquence grave</string>
			<string>Harnachas</string>
			<string>BENIN</string>
			<string>ENRENAS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Possèdes</string>
			<string>Action de soigner</string>
			<string>AS</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Possèdes</string>
			<string>Rigidités</string>
			<string>AS</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Fleuve du nord de la France</string>
			<string>Elles protègent le matelas</string>
			<string>AA</string>
			<string>ALESES</string>
		</array>
		<array>
			<string>Fleuve du nord de la France</string>
			<string>On ne peut vivre sans lui</string>
			<string>AA</string>
			<string>AIR</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Tueries</string>
			<string>C</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Lawrencium</string>
			<string>Traversais</string>
			<string>LR</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Lawrencium</string>
			<string>Harnachas</string>
			<string>LR</string>
			<string>ENRENAS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Employable</string>
			<string>Action de soigner</string>
			<string>UTILISABLE</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Employable</string>
			<string>Rigidités</string>
			<string>UTILISABLE</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string>Employable</string>
			<string>Projet</string>
			<string>UTILISABLE</string>
			<string>IDEE</string>
		</array>
		<array>
			<string>Employable</string>
			<string>Elles protègent le matelas</string>
			<string>UTILISABLE</string>
			<string>ALESES</string>
		</array>
		<array>
			<string>Employable</string>
			<string>On ne peut vivre sans lui</string>
			<string>UTILISABLE</string>
			<string>AIR</string>
		</array>
		<array>
			<string>Employable</string>
			<string>Saint en espagnol</string>
			<string>UTILISABLE</string>
			<string>SAN</string>
		</array>
		<array>
			<string>Employable</string>
			<string>Tueries</string>
			<string>UTILISABLE</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string>Employable</string>
			<string>Bismuth</string>
			<string>UTILISABLE</string>
			<string>BI</string>
		</array>
		<array>
			<string>Employable</string>
			<string>Traversais</string>
			<string>UTILISABLE</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Employable</string>
			<string>Harnachas</string>
			<string>UTILISABLE</string>
			<string>ENRENAS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Association</string>
			<string>Action de soigner</string>
			<string>FEDERATION</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Association</string>
			<string>Rigidités</string>
			<string>FEDERATION</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string>Association</string>
			<string>Projet</string>
			<string>FEDERATION</string>
			<string>IDEE</string>
		</array>
		<array>
			<string>Association</string>
			<string>Elles protègent le matelas</string>
			<string>FEDERATION</string>
			<string>ALESES</string>
		</array>
		<array>
			<string>Association</string>
			<string>On ne peut vivre sans lui</string>
			<string>FEDERATION</string>
			<string>AIR</string>
		</array>
		<array>
			<string>Association</string>
			<string>Saint en espagnol</string>
			<string>FEDERATION</string>
			<string>SAN</string>
		</array>
		<array>
			<string>Association</string>
			<string>Tueries</string>
			<string>FEDERATION</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string>Association</string>
			<string>Bismuth</string>
			<string>FEDERATION</string>
			<string>BI</string>
		</array>
		<array>
			<string>Association</string>
			<string>Traversais</string>
			<string>FEDERATION</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Association</string>
			<string>Harnachas</string>
			<string>FEDERATION</string>
			<string>ENRENAS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Colères</string>
			<string>Action de soigner</string>
			<string>IRES</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Colères</string>
			<string>Rigidités</string>
			<string>IRES</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string>Colères</string>
			<string>Projet</string>
			<string>IRES</string>
			<string>IDEE</string>
		</array>
		<array>
			<string>Colères</string>
			<string>Elles protègent le matelas</string>
			<string>IRES</string>
			<string>ALESES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Drame lyrique japonais</string>
			<string>Saint en espagnol</string>
			<string>NO</string>
			<string>SAN</string>
		</array>
		<array>
			<string>Drame lyrique japonais</string>
			<string>Tueries</string>
			<string>NO</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Interjection</string>
			<string>Traversais</string>
			<string>NA</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Interjection</string>
			<string>Harnachas</string>
			<string>NA</string>
			<string>ENRENAS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Démenties</string>
			<string>Action de soigner</string>
			<string>NIEES</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Démenties</string>
			<string>Rigidités</string>
			<string>NIEES</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string>Démenties</string>
			<string>Projet</string>
			<string>NIEES</string>
			<string>IDEE</string>
		</array>
		<array>
			<string>Démenties</string>
			<string>Elles protègent le matelas</string>
			<string>NIEES</string>
			<string>ALESES</string>
		</array>
		<array>
			<string>Démenties</string>
			<string>Série télivisée</string>
			<string>NIEES</string>
			<string>SOAP</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Ne dis pas la vérité</string>
			<string>Tueries</string>
			<string>MENS</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string>Ne dis pas la vérité</string>
			<string>Erbium</string>
			<string>MENS</string>
			<string>ER</string>
		</array>
		<array>
			<string>Ne dis pas la vérité</string>
			<string>Traversais</string>
			<string>MENS</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Ne dis pas la vérité</string>
			<string>Harnachas</string>
			<string>MENS</string>
			<string>ENRENAS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Astate</string>
			<string>Action de soigner</string>
			<string>AT</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Astate</string>
			<string>Rigidités</string>
			<string>AT</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Coula</string>
			<string>Elles protègent le matelas</string>
			<string>SOMBRA</string>
			<string>ALESES</string>
		</array>
		<array>
			<string>Coula</string>
			<string>Série télivisée</string>
			<string>SOMBRA</string>
			<string>SOAP</string>
		</array>
		<array>
			<string>Coula</string>
			<string>Note</string>
			<string>SOMBRA</string>
			<string>MI</string>
		</array>
		<array>
			<string>Coula</string>
			<string>Tueries</string>
			<string>SOMBRA</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string>Coula</string>
			<string>Erbium</string>
			<string>SOMBRA</string>
			<string>ER</string>
		</array>
		<array>
			<string>Coula</string>
			<string>Traversais</string>
			<string>SOMBRA</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Grossesse extra-utérine</string>
			<string>Action de soigner</string>
			<string>GEU</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Grossesse extra-utérine</string>
			<string>Rigidités</string>
			<string>GEU</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string>Grossesse extra-utérine</string>
			<string>Note</string>
			<string>GEU</string>
			<string>UT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Cri de douleur</string>
			<string>Série télivisée</string>
			<string>AIE</string>
			<string>SOAP</string>
		</array>
		<array>
			<string>Cri de douleur</string>
			<string>Note</string>
			<string>AIE</string>
			<string>MI</string>
		</array>
		<array>
			<string>Cri de douleur</string>
			<string>Tueries</string>
			<string>AIE</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Idem</string>
			<string>Traversais</string>
			<string>ID</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Idem</string>
			<string>Protection du doigt</string>
			<string>ID</string>
			<string>DE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Vit</string>
			<string>Action de soigner</string>
			<string>EST</string>
			<string>PEAUFINAGE</string>
		</array>
		<array>
			<string>Vit</string>
			<string>Rigidités</string>
			<string>EST</string>
			<string>AUSTERITES</string>
		</array>
		<array>
			<string>Vit</string>
			<string>Note</string>
			<string>EST</string>
			<string>UT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Série télivisée</string>
			<string>P</string>
			<string>SOAP</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Située</string>
			<string>Tueries</string>
			<string>SISE</string>
			<string>HECATOMBES</string>
		</array>
		<array>
			<string>Située</string>
			<string></string>
			<string>SISE</string>
			<string>I</string>
		</array>
		<array>
			<string>Située</string>
			<string>Traversais</string>
			<string>SISE</string>
			<string>SILLONNAIS</string>
		</array>
		<array>
			<string>Située</string>
			<string>Protection du doigt</string>
			<string>SISE</string>
			<string>DE</string>
		</array>
	</array>
</array>
</plist>
