<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Citée à comparaître</string>
			<string>Non tolérés</string>
			<string>DEFENDERESSE</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>Il écoute plus ou moins</string>
			<string>DEFENDERESSE</string>
			<string>ELEVE</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>… et à mesure</string>
			<string>DEFENDERESSE</string>
			<string>FUR</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string></string>
			<string>DEFENDERESSE</string>
			<string>E</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>Débute</string>
			<string>DEFENDERESSE</string>
			<string>NAIS</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>Résistance au coup</string>
			<string>DEFENDERESSE</string>
			<string>DURETE</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>Fait le lien</string>
			<string>DEFENDERESSE</string>
			<string>ET</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>Récit en prose</string>
			<string>DEFENDERESSE</string>
			<string>ROMAN</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string></string>
			<string>DEFENDERESSE</string>
			<string>E</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>Allocution</string>
			<string>DEFENDERESSE</string>
			<string>SPEECH</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>Pronom</string>
			<string>DEFENDERESSE</string>
			<string>SE</string>
		</array>
		<array>
			<string>Citée à comparaître</string>
			<string>Pouvoir organisé</string>
			<string>DEFENDERESSE</string>
			<string>ETAT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Celui qui siège</string>
			<string>Non tolérés</string>
			<string>ELU</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Celui qui siège</string>
			<string>Il écoute plus ou moins</string>
			<string>ELU</string>
			<string>ELEVE</string>
		</array>
		<array>
			<string>Celui qui siège</string>
			<string>… et à mesure</string>
			<string>ELU</string>
			<string>FUR</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Pas toujours électrique</string>
			<string>Débute</string>
			<string>AUTO</string>
			<string>NAIS</string>
		</array>
		<array>
			<string>Pas toujours électrique</string>
			<string>Résistance au coup</string>
			<string>AUTO</string>
			<string>DURETE</string>
		</array>
		<array>
			<string>Pas toujours électrique</string>
			<string>Fait le lien</string>
			<string>AUTO</string>
			<string>ET</string>
		</array>
		<array>
			<string>Pas toujours électrique</string>
			<string>Récit en prose</string>
			<string>AUTO</string>
			<string>ROMAN</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Gaz évadé</string>
			<string>Allocution</string>
			<string>PET</string>
			<string>SPEECH</string>
		</array>
		<array>
			<string>Gaz évadé</string>
			<string>Pronom</string>
			<string>PET</string>
			<string>SE</string>
		</array>
		<array>
			<string>Gaz évadé</string>
			<string>Pouvoir organisé</string>
			<string>PET</string>
			<string>ETAT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Se rendre utile</string>
			<string>Non tolérés</string>
			<string>SERVIR</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Se rendre utile</string>
			<string>Il écoute plus ou moins</string>
			<string>SERVIR</string>
			<string>ELEVE</string>
		</array>
		<array>
			<string>Se rendre utile</string>
			<string>… et à mesure</string>
			<string>SERVIR</string>
			<string>FUR</string>
		</array>
		<array>
			<string>Se rendre utile</string>
			<string>Moteurs de l’action</string>
			<string>SERVIR</string>
			<string>VOLONTES</string>
		</array>
		<array>
			<string>Se rendre utile</string>
			<string>Débute</string>
			<string>SERVIR</string>
			<string>NAIS</string>
		</array>
		<array>
			<string>Se rendre utile</string>
			<string>Résistance au coup</string>
			<string>SERVIR</string>
			<string>DURETE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Titre de civilité</string>
			<string>Récit en prose</string>
			<string>MME</string>
			<string>ROMAN</string>
		</array>
		<array>
			<string>Titre de civilité</string>
			<string>Relents malsains</string>
			<string>MME</string>
			<string>MIASMES</string>
		</array>
		<array>
			<string>Titre de civilité</string>
			<string>Allocution</string>
			<string>MME</string>
			<string>SPEECH</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Pouvoir organisé</string>
			<string>A</string>
			<string>ETAT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Artère</string>
			<string>Non tolérés</string>
			<string>AV</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Artère</string>
			<string>Il écoute plus ou moins</string>
			<string>AV</string>
			<string>ELEVE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Moteurs de l’action</string>
			<string>OSERAIENT</string>
			<string>VOLONTES</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Débute</string>
			<string>OSERAIENT</string>
			<string>NAIS</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Résistance au coup</string>
			<string>OSERAIENT</string>
			<string>DURETE</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Bien las</string>
			<string>OSERAIENT</string>
			<string>RENDU</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Récit en prose</string>
			<string>OSERAIENT</string>
			<string>ROMAN</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Relents malsains</string>
			<string>OSERAIENT</string>
			<string>MIASMES</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Allocution</string>
			<string>OSERAIENT</string>
			<string>SPEECH</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Faire disparaître</string>
			<string>OSERAIENT</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string>Tenteraient</string>
			<string>Pouvoir organisé</string>
			<string>OSERAIENT</string>
			<string>ETAT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Nomade du Niger</string>
			<string>Non tolérés</string>
			<string>PEUL</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Nomade du Niger</string>
			<string>Il écoute plus ou moins</string>
			<string>PEUL</string>
			<string>ELEVE</string>
		</array>
		<array>
			<string>Nomade du Niger</string>
			<string>Canton neutre</string>
			<string>PEUL</string>
			<string>URI</string>
		</array>
		<array>
			<string>Nomade du Niger</string>
			<string>Moteurs de l’action</string>
			<string>PEUL</string>
			<string>VOLONTES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Jamais résigné</string>
			<string>Résistance au coup</string>
			<string>TENACE</string>
			<string>DURETE</string>
		</array>
		<array>
			<string>Jamais résigné</string>
			<string>Bien las</string>
			<string>TENACE</string>
			<string>RENDU</string>
		</array>
		<array>
			<string>Jamais résigné</string>
			<string>Récit en prose</string>
			<string>TENACE</string>
			<string>ROMAN</string>
		</array>
		<array>
			<string>Jamais résigné</string>
			<string>Relents malsains</string>
			<string>TENACE</string>
			<string>MIASMES</string>
		</array>
		<array>
			<string>Jamais résigné</string>
			<string>Allocution</string>
			<string>TENACE</string>
			<string>SPEECH</string>
		</array>
		<array>
			<string>Jamais résigné</string>
			<string>Faire disparaître</string>
			<string>TENACE</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Non tolérés</string>
			<string>P</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Où Jeanne connut le bûcher</string>
			<string>Canton neutre</string>
			<string>ROUEN</string>
			<string>URI</string>
		</array>
		<array>
			<string>Où Jeanne connut le bûcher</string>
			<string>Moteurs de l’action</string>
			<string>ROUEN</string>
			<string>VOLONTES</string>
		</array>
		<array>
			<string>Où Jeanne connut le bûcher</string>
			<string>Affaibliriez</string>
			<string>ROUEN</string>
			<string>USERIEZ</string>
		</array>
		<array>
			<string>Où Jeanne connut le bûcher</string>
			<string>Résistance au coup</string>
			<string>ROUEN</string>
			<string>DURETE</string>
		</array>
		<array>
			<string>Où Jeanne connut le bûcher</string>
			<string>Bien las</string>
			<string>ROUEN</string>
			<string>RENDU</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Il trônait à Téhéran</string>
			<string>Relents malsains</string>
			<string>SHAH</string>
			<string>MIASMES</string>
		</array>
		<array>
			<string>Il trônait à Téhéran</string>
			<string>Allocution</string>
			<string>SHAH</string>
			<string>SPEECH</string>
		</array>
		<array>
			<string>Il trônait à Téhéran</string>
			<string>Faire disparaître</string>
			<string>SHAH</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string>Il trônait à Téhéran</string>
			<string>Pains sacrés</string>
			<string>SHAH</string>
			<string>HOSTIES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Organes jumeaux</string>
			<string>Non tolérés</string>
			<string>REINS</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Organes jumeaux</string>
			<string>S’ouvrira à la vie</string>
			<string>REINS</string>
			<string>ECLORA</string>
		</array>
		<array>
			<string>Organes jumeaux</string>
			<string>Canton neutre</string>
			<string>REINS</string>
			<string>URI</string>
		</array>
		<array>
			<string>Organes jumeaux</string>
			<string>Moteurs de l’action</string>
			<string>REINS</string>
			<string>VOLONTES</string>
		</array>
		<array>
			<string>Organes jumeaux</string>
			<string>Affaibliriez</string>
			<string>REINS</string>
			<string>USERIEZ</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Châtiment</string>
			<string>Bien las</string>
			<string>DAM</string>
			<string>RENDU</string>
		</array>
		<array>
			<string>Châtiment</string>
			<string>Ni bien ni mal</string>
			<string>DAM</string>
			<string>AMORAL</string>
		</array>
		<array>
			<string>Châtiment</string>
			<string>Relents malsains</string>
			<string>DAM</string>
			<string>MIASMES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Tradition en kimono</string>
			<string>Faire disparaître</string>
			<string>NO</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string>Tradition en kimono</string>
			<string>Pains sacrés</string>
			<string>NO</string>
			<string>HOSTIES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Idiome méridional</string>
			<string>Non tolérés</string>
			<string>OC</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Idiome méridional</string>
			<string>S’ouvrira à la vie</string>
			<string>OC</string>
			<string>ECLORA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Moteurs de l’action</string>
			<string>TEGUMENTS</string>
			<string>VOLONTES</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Affaibliriez</string>
			<string>TEGUMENTS</string>
			<string>USERIEZ</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Multitude anonyme</string>
			<string>TEGUMENTS</string>
			<string>GENS</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Bien las</string>
			<string>TEGUMENTS</string>
			<string>RENDU</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Ni bien ni mal</string>
			<string>TEGUMENTS</string>
			<string>AMORAL</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Relents malsains</string>
			<string>TEGUMENTS</string>
			<string>MIASMES</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Cache-miettes</string>
			<string>TEGUMENTS</string>
			<string>NAPPE</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Faire disparaître</string>
			<string>TEGUMENTS</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string>Revêtements naturels</string>
			<string>Pains sacrés</string>
			<string>TEGUMENTS</string>
			<string>HOSTIES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Plaie persistante</string>
			<string>Non tolérés</string>
			<string>ULCERE</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Plaie persistante</string>
			<string>S’ouvrira à la vie</string>
			<string>ULCERE</string>
			<string>ECLORA</string>
		</array>
		<array>
			<string>Plaie persistante</string>
			<string>Parfois remue avec la terre</string>
			<string>ULCERE</string>
			<string>CIEL</string>
		</array>
		<array>
			<string>Plaie persistante</string>
			<string>Moteurs de l’action</string>
			<string>ULCERE</string>
			<string>VOLONTES</string>
		</array>
		<array>
			<string>Plaie persistante</string>
			<string>Affaibliriez</string>
			<string>ULCERE</string>
			<string>USERIEZ</string>
		</array>
		<array>
			<string>Plaie persistante</string>
			<string>Multitude anonyme</string>
			<string>ULCERE</string>
			<string>GENS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Allait au bout</string>
			<string>Ni bien ni mal</string>
			<string>OSAIT</string>
			<string>AMORAL</string>
		</array>
		<array>
			<string>Allait au bout</string>
			<string>Relents malsains</string>
			<string>OSAIT</string>
			<string>MIASMES</string>
		</array>
		<array>
			<string>Allait au bout</string>
			<string>Cache-miettes</string>
			<string>OSAIT</string>
			<string>NAPPE</string>
		</array>
		<array>
			<string>Allait au bout</string>
			<string>Faire disparaître</string>
			<string>OSAIT</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string>Allait au bout</string>
			<string>Pains sacrés</string>
			<string>OSAIT</string>
			<string>HOSTIES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Partager le palier</string>
			<string>Non tolérés</string>
			<string>VOISINER</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Partager le palier</string>
			<string>S’ouvrira à la vie</string>
			<string>VOISINER</string>
			<string>ECLORA</string>
		</array>
		<array>
			<string>Partager le palier</string>
			<string>Parfois remue avec la terre</string>
			<string>VOISINER</string>
			<string>CIEL</string>
		</array>
		<array>
			<string>Partager le palier</string>
			<string>Moteurs de l’action</string>
			<string>VOISINER</string>
			<string>VOLONTES</string>
		</array>
		<array>
			<string>Partager le palier</string>
			<string>Affaibliriez</string>
			<string>VOISINER</string>
			<string>USERIEZ</string>
		</array>
		<array>
			<string>Partager le palier</string>
			<string>Multitude anonyme</string>
			<string>VOISINER</string>
			<string>GENS</string>
		</array>
		<array>
			<string>Partager le palier</string>
			<string>Mouvement clandestin</string>
			<string>VOISINER</string>
			<string>ETA</string>
		</array>
		<array>
			<string>Partager le palier</string>
			<string>Ni bien ni mal</string>
			<string>VOISINER</string>
			<string>AMORAL</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Lettre</string>
			<string>Cache-miettes</string>
			<string>PSI</string>
			<string>NAPPE</string>
		</array>
		<array>
			<string>Lettre</string>
			<string>Faire disparaître</string>
			<string>PSI</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string>Lettre</string>
			<string>Pains sacrés</string>
			<string>PSI</string>
			<string>HOSTIES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Époque</string>
			<string>Non tolérés</string>
			<string>ERE</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Époque</string>
			<string>S’ouvrira à la vie</string>
			<string>ERE</string>
			<string>ECLORA</string>
		</array>
		<array>
			<string>Époque</string>
			<string>Parfois remue avec la terre</string>
			<string>ERE</string>
			<string>CIEL</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Gravée</string>
			<string>Affaibliriez</string>
			<string>ESTAMPEE</string>
			<string>USERIEZ</string>
		</array>
		<array>
			<string>Gravée</string>
			<string>Multitude anonyme</string>
			<string>ESTAMPEE</string>
			<string>GENS</string>
		</array>
		<array>
			<string>Gravée</string>
			<string>Mouvement clandestin</string>
			<string>ESTAMPEE</string>
			<string>ETA</string>
		</array>
		<array>
			<string>Gravée</string>
			<string>Ni bien ni mal</string>
			<string>ESTAMPEE</string>
			<string>AMORAL</string>
		</array>
		<array>
			<string>Gravée</string>
			<string>Volume</string>
			<string>ESTAMPEE</string>
			<string>ML</string>
		</array>
		<array>
			<string>Gravée</string>
			<string>Cache-miettes</string>
			<string>ESTAMPEE</string>
			<string>NAPPE</string>
		</array>
		<array>
			<string>Gravée</string>
			<string>Faire disparaître</string>
			<string>ESTAMPEE</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string>Gravée</string>
			<string>Pains sacrés</string>
			<string>ESTAMPEE</string>
			<string>HOSTIES</string>
		</array>
	</array>
	<array>
		<array>
			<string>Épicez</string>
			<string>Non tolérés</string>
			<string>SALEZ</string>
			<string>DESAPPROUVES</string>
		</array>
		<array>
			<string>Épicez</string>
			<string>S’ouvrira à la vie</string>
			<string>SALEZ</string>
			<string>ECLORA</string>
		</array>
		<array>
			<string>Épicez</string>
			<string>Parfois remue avec la terre</string>
			<string>SALEZ</string>
			<string>CIEL</string>
		</array>
		<array>
			<string>Épicez</string>
			<string></string>
			<string>SALEZ</string>
			<string>E</string>
		</array>
		<array>
			<string>Épicez</string>
			<string>Affaibliriez</string>
			<string>SALEZ</string>
			<string>USERIEZ</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Trajets initiaux</string>
			<string>Mouvement clandestin</string>
			<string>ALLERS</string>
			<string>ETA</string>
		</array>
		<array>
			<string>Trajets initiaux</string>
			<string>Ni bien ni mal</string>
			<string>ALLERS</string>
			<string>AMORAL</string>
		</array>
		<array>
			<string>Trajets initiaux</string>
			<string>Volume</string>
			<string>ALLERS</string>
			<string>ML</string>
		</array>
		<array>
			<string>Trajets initiaux</string>
			<string>Cache-miettes</string>
			<string>ALLERS</string>
			<string>NAPPE</string>
		</array>
		<array>
			<string>Trajets initiaux</string>
			<string>Faire disparaître</string>
			<string>ALLERS</string>
			<string>NEANTISER</string>
		</array>
		<array>
			<string>Trajets initiaux</string>
			<string>Pains sacrés</string>
			<string>ALLERS</string>
			<string>HOSTIES</string>
		</array>
	</array>
</array>
</plist>
