<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Déclinèrent</string>
			<string>Ne sera pas prêté</string>
			<string>ATROPHIERENT</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Bosser sans y croire</string>
			<string>ATROPHIERENT</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Reprend vie</string>
			<string>ATROPHIERENT</string>
			<string>RENAIT</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string></string>
			<string>ATROPHIERENT</string>
			<string>O</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Tentes de convaincre</string>
			<string>ATROPHIERENT</string>
			<string>PLAIDES</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Salut à l’anglaise</string>
			<string>ATROPHIERENT</string>
			<string>HI</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Piquerez</string>
			<string>ATROPHIERENT</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string></string>
			<string>ATROPHIERENT</string>
			<string>E</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Regrettent</string>
			<string>ATROPHIERENT</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Béat</string>
			<string>ATROPHIERENT</string>
			<string>ETONNE</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Garantie</string>
			<string>ATROPHIERENT</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>Déclinèrent</string>
			<string>Cachés</string>
			<string>ATROPHIERENT</string>
			<string>TUS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Herbe à ruminer</string>
			<string>Ne sera pas prêté</string>
			<string>PRE</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Herbe à ruminer</string>
			<string>Bosser sans y croire</string>
			<string>PRE</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Herbe à ruminer</string>
			<string>Reprend vie</string>
			<string>PRE</string>
			<string>RENAIT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Naturel et léger</string>
			<string>Tentes de convaincre</string>
			<string>LIN</string>
			<string>PLAIDES</string>
		</array>
		<array>
			<string>Naturel et léger</string>
			<string>Salut à l’anglaise</string>
			<string>LIN</string>
			<string>HI</string>
		</array>
		<array>
			<string>Naturel et léger</string>
			<string>Piquerez</string>
			<string>LIN</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Sert les mâchoires</string>
			<string>Regrettent</string>
			<string>ETAU</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string>Sert les mâchoires</string>
			<string>Béat</string>
			<string>ETAU</string>
			<string>ETONNE</string>
		</array>
		<array>
			<string>Sert les mâchoires</string>
			<string>Garantie</string>
			<string>ETAU</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>Sert les mâchoires</string>
			<string>Cachés</string>
			<string>ETAU</string>
			<string>TUS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Amateur de bambou</string>
			<string>Ne sera pas prêté</string>
			<string>PANDA</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Amateur de bambou</string>
			<string>Bosser sans y croire</string>
			<string>PANDA</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Amateur de bambou</string>
			<string>Reprend vie</string>
			<string>PANDA</string>
			<string>RENAIT</string>
		</array>
		<array>
			<string>Amateur de bambou</string>
			<string>Unité de mesure</string>
			<string>PANDA</string>
			<string>DL</string>
		</array>
		<array>
			<string>Amateur de bambou</string>
			<string>Tentes de convaincre</string>
			<string>PANDA</string>
			<string>PLAIDES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>But de certains coureurs</string>
			<string>Piquerez</string>
			<string>JUPONS</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string>But de certains coureurs</string>
			<string>A cessé de ruminer</string>
			<string>JUPONS</string>
			<string>URE</string>
		</array>
		<array>
			<string>But de certains coureurs</string>
			<string>Regrettent</string>
			<string>JUPONS</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string>But de certains coureurs</string>
			<string>Béat</string>
			<string>JUPONS</string>
			<string>ETONNE</string>
		</array>
		<array>
			<string>But de certains coureurs</string>
			<string>Garantie</string>
			<string>JUPONS</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>But de certains coureurs</string>
			<string>Cachés</string>
			<string>JUPONS</string>
			<string>TUS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Soutinrent</string>
			<string>Ne sera pas prêté</string>
			<string>AVALISERENT</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Bosser sans y croire</string>
			<string>AVALISERENT</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Reprend vie</string>
			<string>AVALISERENT</string>
			<string>RENAIT</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Unité de mesure</string>
			<string>AVALISERENT</string>
			<string>DL</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Tentes de convaincre</string>
			<string>AVALISERENT</string>
			<string>PLAIDES</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Stimule la peau ou l’œil</string>
			<string>AVALISERENT</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Piquerez</string>
			<string>AVALISERENT</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>A cessé de ruminer</string>
			<string>AVALISERENT</string>
			<string>URE</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Regrettent</string>
			<string>AVALISERENT</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Béat</string>
			<string>AVALISERENT</string>
			<string>ETONNE</string>
		</array>
		<array>
			<string>Soutinrent</string>
			<string>Garantie</string>
			<string>AVALISERENT</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Rayon discret</string>
			<string>Ne sera pas prêté</string>
			<string>RAI</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Rayon discret</string>
			<string>Bosser sans y croire</string>
			<string>RAI</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Rayon discret</string>
			<string>Reprend vie</string>
			<string>RAI</string>
			<string>RENAIT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Dix tours de soleil</string>
			<string>Tentes de convaincre</string>
			<string>DECENNIE</string>
			<string>PLAIDES</string>
		</array>
		<array>
			<string>Dix tours de soleil</string>
			<string>Stimule la peau ou l’œil</string>
			<string>DECENNIE</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string>Dix tours de soleil</string>
			<string>Piquerez</string>
			<string>DECENNIE</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string>Dix tours de soleil</string>
			<string>A cessé de ruminer</string>
			<string>DECENNIE</string>
			<string>URE</string>
		</array>
		<array>
			<string>Dix tours de soleil</string>
			<string>Regrettent</string>
			<string>DECENNIE</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string>Dix tours de soleil</string>
			<string>Béat</string>
			<string>DECENNIE</string>
			<string>ETONNE</string>
		</array>
		<array>
			<string>Dix tours de soleil</string>
			<string>Garantie</string>
			<string>DECENNIE</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>Dix tours de soleil</string>
			<string>Lettre d’Homère</string>
			<string>DECENNIE</string>
			<string>ETA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Donnent un nom</string>
			<string>Ne sera pas prêté</string>
			<string>TITRENT</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Donnent un nom</string>
			<string>Bosser sans y croire</string>
			<string>TITRENT</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Donnent un nom</string>
			<string>Reprend vie</string>
			<string>TITRENT</string>
			<string>RENAIT</string>
		</array>
		<array>
			<string>Donnent un nom</string>
			<string>Frôlés</string>
			<string>TITRENT</string>
			<string>RASES</string>
		</array>
		<array>
			<string>Donnent un nom</string>
			<string>Tentes de convaincre</string>
			<string>TITRENT</string>
			<string>PLAIDES</string>
		</array>
		<array>
			<string>Donnent un nom</string>
			<string>Stimule la peau ou l’œil</string>
			<string>TITRENT</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string>Donnent un nom</string>
			<string>Piquerez</string>
			<string>TITRENT</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Épreuve</string>
			<string>Regrettent</string>
			<string>TEST</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string>Épreuve</string>
			<string>Béat</string>
			<string>TEST</string>
			<string>ETONNE</string>
		</array>
		<array>
			<string>Épreuve</string>
			<string>Garantie</string>
			<string>TEST</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>Épreuve</string>
			<string>Lettre d’Homère</string>
			<string>TEST</string>
			<string>ETA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Terme de bail</string>
			<string>Ne sera pas prêté</string>
			<string>IL</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Terme de bail</string>
			<string>Bosser sans y croire</string>
			<string>IL</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Lance sans détour</string>
			<string>Frôlés</string>
			<string>ASSENE</string>
			<string>RASES</string>
		</array>
		<array>
			<string>Lance sans détour</string>
			<string>Tentes de convaincre</string>
			<string>ASSENE</string>
			<string>PLAIDES</string>
		</array>
		<array>
			<string>Lance sans détour</string>
			<string>Stimule la peau ou l’œil</string>
			<string>ASSENE</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string>Lance sans détour</string>
			<string>Piquerez</string>
			<string>ASSENE</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string>Lance sans détour</string>
			<string>Éclat de jeunesse</string>
			<string>ASSENE</string>
			<string>NA</string>
		</array>
		<array>
			<string>Lance sans détour</string>
			<string>Regrettent</string>
			<string>ASSENE</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Revient à lui</string>
			<string>Garantie</string>
			<string>SA</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>Revient à lui</string>
			<string>Lettre d’Homère</string>
			<string>SA</string>
			<string>ETA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Choisis</string>
			<string>Ne sera pas prêté</string>
			<string>ELIS</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Choisis</string>
			<string>Bosser sans y croire</string>
			<string>ELIS</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Choisis</string>
			<string>Branché</string>
			<string>ELIS</string>
			<string>IN</string>
		</array>
		<array>
			<string>Choisis</string>
			<string>Frôlés</string>
			<string>ELIS</string>
			<string>RASES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Pieuse</string>
			<string>Stimule la peau ou l’œil</string>
			<string>ORANTE</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string>Pieuse</string>
			<string>Piquerez</string>
			<string>ORANTE</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string>Pieuse</string>
			<string>Éclat de jeunesse</string>
			<string>ORANTE</string>
			<string>NA</string>
		</array>
		<array>
			<string>Pieuse</string>
			<string>Regrettent</string>
			<string>ORANTE</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string>Pieuse</string>
			<string>Neige</string>
			<string>ORANTE</string>
			<string>TOLEE</string>
		</array>
		<array>
			<string>Pieuse</string>
			<string>Garantie</string>
			<string>ORANTE</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Sans réalité</string>
			<string>Ne sera pas prêté</string>
			<string>NONETRE</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Sans réalité</string>
			<string>Bosser sans y croire</string>
			<string>NONETRE</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Sans réalité</string>
			<string>Branché</string>
			<string>NONETRE</string>
			<string>IN</string>
		</array>
		<array>
			<string>Sans réalité</string>
			<string>Frôlés</string>
			<string>NONETRE</string>
			<string>RASES</string>
		</array>
		<array>
			<string>Sans réalité</string>
			<string>Troisième</string>
			<string>NONETRE</string>
			<string>TER</string>
		</array>
		<array>
			<string>Sans réalité</string>
			<string>Stimule la peau ou l’œil</string>
			<string>NONETRE</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string>Sans réalité</string>
			<string>Piquerez</string>
			<string>NONETRE</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Partie de l’œuvre</string>
			<string>Regrettent</string>
			<string>TOME</string>
			<string>REPENTENT</string>
		</array>
		<array>
			<string>Partie de l’œuvre</string>
			<string>Neige</string>
			<string>TOME</string>
			<string>TOLEE</string>
		</array>
		<array>
			<string>Partie de l’œuvre</string>
			<string>Garantie</string>
			<string>TOME</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>Partie de l’œuvre</string>
			<string>Ville d’Italie</string>
			<string>TOME</string>
			<string>ESTE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Contour d’une dent</string>
			<string>Ne sera pas prêté</string>
			<string>DT</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Contour d’une dent</string>
			<string>Bosser sans y croire</string>
			<string>DT</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Le Louis de la Révolution</string>
			<string>Frôlés</string>
			<string>SEIZE</string>
			<string>RASES</string>
		</array>
		<array>
			<string>Le Louis de la Révolution</string>
			<string>Troisième</string>
			<string>SEIZE</string>
			<string>TER</string>
		</array>
		<array>
			<string>Le Louis de la Révolution</string>
			<string>Stimule la peau ou l’œil</string>
			<string>SEIZE</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string>Le Louis de la Révolution</string>
			<string>Piquerez</string>
			<string>SEIZE</string>
			<string>INJECTEREZ</string>
		</array>
		<array>
			<string>Le Louis de la Révolution</string>
			<string>Lentille</string>
			<string>SEIZE</string>
			<string>ERS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>À poser au mur</string>
			<string>Neige</string>
			<string>LES</string>
			<string>TOLEE</string>
		</array>
		<array>
			<string>À poser au mur</string>
			<string>Garantie</string>
			<string>LES</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>À poser au mur</string>
			<string>Ville d’Italie</string>
			<string>LES</string>
			<string>ESTE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Unité en physique</string>
			<string>Ne sera pas prêté</string>
			<string>REM</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Unité en physique</string>
			<string>Bosser sans y croire</string>
			<string>REM</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Unité en physique</string>
			<string>1001</string>
			<string>REM</string>
			<string>MI</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Île</string>
			<string>Troisième</string>
			<string>RE</string>
			<string>TER</string>
		</array>
		<array>
			<string>Île</string>
			<string>Stimule la peau ou l’œil</string>
			<string>RE</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Se détendent</string>
			<string>Lentille</string>
			<string>RIENT</string>
			<string>ERS</string>
		</array>
		<array>
			<string>Se détendent</string>
			<string></string>
			<string>RIENT</string>
			<string>I</string>
		</array>
		<array>
			<string>Se détendent</string>
			<string>Neige</string>
			<string>RIENT</string>
			<string>TOLEE</string>
		</array>
		<array>
			<string>Se détendent</string>
			<string>Garantie</string>
			<string>RIENT</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>Se détendent</string>
			<string>Ville d’Italie</string>
			<string>RIENT</string>
			<string>ESTE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Chant de diva</string>
			<string>Ne sera pas prêté</string>
			<string>ARIA</string>
			<string>APPARTIENDRA</string>
		</array>
		<array>
			<string>Chant de diva</string>
			<string>Bosser sans y croire</string>
			<string>ARIA</string>
			<string>TRAVAILLOTER</string>
		</array>
		<array>
			<string>Chant de diva</string>
			<string>1001</string>
			<string>ARIA</string>
			<string>MI</string>
		</array>
		<array>
			<string>Chant de diva</string>
			<string></string>
			<string>ARIA</string>
			<string>A</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Fleur</string>
			<string>Stimule la peau ou l’œil</string>
			<string>LIS</string>
			<string>SENSORIEL</string>
		</array>
		<array>
			<string>Fleur</string>
			<string></string>
			<string>LIS</string>
			<string>I</string>
		</array>
		<array>
			<string>Fleur</string>
			<string>Lentille</string>
			<string>LIS</string>
			<string>ERS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Meurtrier au cinéma</string>
			<string>Neige</string>
			<string>ETE</string>
			<string>TOLEE</string>
		</array>
		<array>
			<string>Meurtrier au cinéma</string>
			<string>Garantie</string>
			<string>ETE</string>
			<string>NANTISSEMENT</string>
		</array>
		<array>
			<string>Meurtrier au cinéma</string>
			<string>Ville d’Italie</string>
			<string>ETE</string>
			<string>ESTE</string>
		</array>
	</array>
</array>
</plist>
