<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Grande surprise</string>
			<string>EFFILOCHURES</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Cherchait</string>
			<string>EFFILOCHURES</string>
			<string>FOUINAIT</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Rejet littéraire</string>
			<string>EFFILOCHURES</string>
			<string>FI</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Il y a celle du pouvoir</string>
			<string>EFFILOCHURES</string>
			<string>IVRESSE</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Vieux loup</string>
			<string>EFFILOCHURES</string>
			<string>LEU</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string></string>
			<string>EFFILOCHURES</string>
			<string>O</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Crinières</string>
			<string>EFFILOCHURES</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Centre équin</string>
			<string>EFFILOCHURES</string>
			<string>HARAS</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Parfois contrée</string>
			<string>EFFILOCHURES</string>
			<string>UT</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Fera du pied</string>
			<string>EFFILOCHURES</string>
			<string>RIMERA</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Prénom</string>
			<string>EFFILOCHURES</string>
			<string>EVA</string>
		</array>
		<array>
			<string>Bord en lambeaux</string>
			<string>Dans une longue liste</string>
			<string>EFFILOCHURES</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Absorbe</string>
			<string>Grande surprise</string>
			<string>BOIVE</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Absorbe</string>
			<string>Cherchait</string>
			<string>BOIVE</string>
			<string>FOUINAIT</string>
		</array>
		<array>
			<string>Absorbe</string>
			<string>Rejet littéraire</string>
			<string>BOIVE</string>
			<string>FI</string>
		</array>
		<array>
			<string>Absorbe</string>
			<string>Il y a celle du pouvoir</string>
			<string>BOIVE</string>
			<string>IVRESSE</string>
		</array>
		<array>
			<string>Absorbe</string>
			<string>Vieux loup</string>
			<string>BOIVE</string>
			<string>LEU</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Est en avance</string>
			<string>Crinières</string>
			<string>HATIVE</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string>Est en avance</string>
			<string>Centre équin</string>
			<string>HATIVE</string>
			<string>HARAS</string>
		</array>
		<array>
			<string>Est en avance</string>
			<string>Parfois contrée</string>
			<string>HATIVE</string>
			<string>UT</string>
		</array>
		<array>
			<string>Est en avance</string>
			<string>Fera du pied</string>
			<string>HATIVE</string>
			<string>RIMERA</string>
		</array>
		<array>
			<string>Est en avance</string>
			<string>Prénom</string>
			<string>HATIVE</string>
			<string>EVA</string>
		</array>
		<array>
			<string>Est en avance</string>
			<string>Dans une longue liste</string>
			<string>HATIVE</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Brille</string>
			<string>Grande surprise</string>
			<string>AU</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Brille</string>
			<string>Cherchait</string>
			<string>AU</string>
			<string>FOUINAIT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Louvoyer</string>
			<string>Il y a celle du pouvoir</string>
			<string>RUSER</string>
			<string>IVRESSE</string>
		</array>
		<array>
			<string>Louvoyer</string>
			<string>Vieux loup</string>
			<string>RUSER</string>
			<string>LEU</string>
		</array>
		<array>
			<string>Louvoyer</string>
			<string>En mettrais trop</string>
			<string>RUSER</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Louvoyer</string>
			<string>Crinières</string>
			<string>RUSER</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string>Louvoyer</string>
			<string>Centre équin</string>
			<string>RUSER</string>
			<string>HARAS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Cinquième</string>
			<string>Fera du pied</string>
			<string>MAI</string>
			<string>RIMERA</string>
		</array>
		<array>
			<string>Cinquième</string>
			<string>Prénom</string>
			<string>MAI</string>
			<string>EVA</string>
		</array>
		<array>
			<string>Cinquième</string>
			<string>Dans une longue liste</string>
			<string>MAI</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Lien vital</string>
			<string>Grande surprise</string>
			<string>HILE</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Lien vital</string>
			<string>Cherchait</string>
			<string>HILE</string>
			<string>FOUINAIT</string>
		</array>
		<array>
			<string>Lien vital</string>
			<string>Pris à la ligne</string>
			<string>HILE</string>
			<string>LU</string>
		</array>
		<array>
			<string>Lien vital</string>
			<string>Il y a celle du pouvoir</string>
			<string>HILE</string>
			<string>IVRESSE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Rat</string>
			<string>En mettrais trop</string>
			<string>AVARE</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Rat</string>
			<string>Crinières</string>
			<string>AVARE</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string>Rat</string>
			<string>Centre équin</string>
			<string>AVARE</string>
			<string>HARAS</string>
		</array>
		<array>
			<string>Rat</string>
			<string></string>
			<string>AVARE</string>
			<string>R</string>
		</array>
		<array>
			<string>Rat</string>
			<string>Fera du pied</string>
			<string>AVARE</string>
			<string>RIMERA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>Dans une longue liste</string>
			<string>Z</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Sortis de l’ordinaire</string>
			<string>Grande surprise</string>
			<string>INUSITES</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Sortis de l’ordinaire</string>
			<string>Cherchait</string>
			<string>INUSITES</string>
			<string>FOUINAIT</string>
		</array>
		<array>
			<string>Sortis de l’ordinaire</string>
			<string>Pris à la ligne</string>
			<string>INUSITES</string>
			<string>LU</string>
		</array>
		<array>
			<string>Sortis de l’ordinaire</string>
			<string>Il y a celle du pouvoir</string>
			<string>INUSITES</string>
			<string>IVRESSE</string>
		</array>
		<array>
			<string>Sortis de l’ordinaire</string>
			<string>Quand la partie prend fin</string>
			<string>INUSITES</string>
			<string>IE</string>
		</array>
		<array>
			<string>Sortis de l’ordinaire</string>
			<string>En mettrais trop</string>
			<string>INUSITES</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Sortis de l’ordinaire</string>
			<string>Crinières</string>
			<string>INUSITES</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string>Sortis de l’ordinaire</string>
			<string>Centre équin</string>
			<string>INUSITES</string>
			<string>HARAS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Jour infime</string>
			<string>Fera du pied</string>
			<string>RAI</string>
			<string>RIMERA</string>
		</array>
		<array>
			<string>Jour infime</string>
			<string>Fixerai</string>
			<string>RAI</string>
			<string>ANCRERAI</string>
		</array>
		<array>
			<string>Jour infime</string>
			<string>Dans une longue liste</string>
			<string>RAI</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Ni à vous ni à moi</string>
			<string>Grande surprise</string>
			<string>SA</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Ni à vous ni à moi</string>
			<string>Cherchait</string>
			<string>SA</string>
			<string>FOUINAIT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Risque de s’ennuyer</string>
			<string>Il y a celle du pouvoir</string>
			<string>SEUL</string>
			<string>IVRESSE</string>
		</array>
		<array>
			<string>Risque de s’ennuyer</string>
			<string>Quand la partie prend fin</string>
			<string>SEUL</string>
			<string>IE</string>
		</array>
		<array>
			<string>Risque de s’ennuyer</string>
			<string>En mettrais trop</string>
			<string>SEUL</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Risque de s’ennuyer</string>
			<string>Crinières</string>
			<string>SEUL</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Se dandine</string>
			<string>Couiner</string>
			<string>CANE</string>
			<string>CRISSER</string>
		</array>
		<array>
			<string>Se dandine</string>
			<string>Fera du pied</string>
			<string>CANE</string>
			<string>RIMERA</string>
		</array>
		<array>
			<string>Se dandine</string>
			<string>Fixerai</string>
			<string>CANE</string>
			<string>ANCRERAI</string>
		</array>
		<array>
			<string>Se dandine</string>
			<string>Dans une longue liste</string>
			<string>CANE</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Installée là</string>
			<string>Grande surprise</string>
			<string>SISE</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Installée là</string>
			<string>Cherchait</string>
			<string>SISE</string>
			<string>FOUINAIT</string>
		</array>
		<array>
			<string>Installée là</string>
			<string>Rongera</string>
			<string>SISE</string>
			<string>SAPERA</string>
		</array>
		<array>
			<string>Installée là</string>
			<string>Il y a celle du pouvoir</string>
			<string>SISE</string>
			<string>IVRESSE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Résister</string>
			<string>En mettrais trop</string>
			<string>RUER</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Résister</string>
			<string>Crinières</string>
			<string>RUER</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string>Résister</string>
			<string>Bout de fer</string>
			<string>RUER</string>
			<string>ER</string>
		</array>
		<array>
			<string>Résister</string>
			<string>Couiner</string>
			<string>RUER</string>
			<string>CRISSER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Unité de longueur</string>
			<string>Fixerai</string>
			<string>CM</string>
			<string>ANCRERAI</string>
		</array>
		<array>
			<string>Unité de longueur</string>
			<string>Dans une longue liste</string>
			<string>CM</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Lettre d’Ésope</string>
			<string>Grande surprise</string>
			<string>ETA</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Lettre d’Ésope</string>
			<string>Cherchait</string>
			<string>ETA</string>
			<string>FOUINAIT</string>
		</array>
		<array>
			<string>Lettre d’Ésope</string>
			<string>Rongera</string>
			<string>ETA</string>
			<string>SAPERA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Elle laisse entrer le soleil</string>
			<string>Transgressa</string>
			<string>VERRIERE</string>
			<string>VIOLA</string>
		</array>
		<array>
			<string>Elle laisse entrer le soleil</string>
			<string>En mettrais trop</string>
			<string>VERRIERE</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Elle laisse entrer le soleil</string>
			<string>Crinières</string>
			<string>VERRIERE</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string>Elle laisse entrer le soleil</string>
			<string>Bout de fer</string>
			<string>VERRIERE</string>
			<string>ER</string>
		</array>
		<array>
			<string>Elle laisse entrer le soleil</string>
			<string>Couiner</string>
			<string>VERRIERE</string>
			<string>CRISSER</string>
		</array>
		<array>
			<string>Elle laisse entrer le soleil</string>
			<string>Conjonction</string>
			<string>VERRIERE</string>
			<string>ET</string>
		</array>
		<array>
			<string>Elle laisse entrer le soleil</string>
			<string>Fixerai</string>
			<string>VERRIERE</string>
			<string>ANCRERAI</string>
		</array>
		<array>
			<string>Elle laisse entrer le soleil</string>
			<string>Dans une longue liste</string>
			<string>VERRIERE</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Grande surprise</string>
			<string>M</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Alcool</string>
			<string>Rongera</string>
			<string>POIRE</string>
			<string>SAPERA</string>
		</array>
		<array>
			<string>Alcool</string>
			<string></string>
			<string>POIRE</string>
			<string>O</string>
		</array>
		<array>
			<string>Alcool</string>
			<string>Transgressa</string>
			<string>POIRE</string>
			<string>VIOLA</string>
		</array>
		<array>
			<string>Alcool</string>
			<string>En mettrais trop</string>
			<string>POIRE</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Alcool</string>
			<string>Crinières</string>
			<string>POIRE</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Virage</string>
			<string>Couiner</string>
			<string>STEM</string>
			<string>CRISSER</string>
		</array>
		<array>
			<string>Virage</string>
			<string>Conjonction</string>
			<string>STEM</string>
			<string>ET</string>
		</array>
		<array>
			<string>Virage</string>
			<string>Fixerai</string>
			<string>STEM</string>
			<string>ANCRERAI</string>
		</array>
		<array>
			<string>Virage</string>
			<string>Dans une longue liste</string>
			<string>STEM</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Fin de troisième</string>
			<string>Grande surprise</string>
			<string>EME</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Fin de troisième</string>
			<string>Elle secoue quand elle est grosse</string>
			<string>EME</string>
			<string>MER</string>
		</array>
		<array>
			<string>Fin de troisième</string>
			<string>Rongera</string>
			<string>EME</string>
			<string>SAPERA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Région fertile</string>
			<string>Transgressa</string>
			<string>OASIS</string>
			<string>VIOLA</string>
		</array>
		<array>
			<string>Région fertile</string>
			<string>En mettrais trop</string>
			<string>OASIS</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Région fertile</string>
			<string>Crinières</string>
			<string>OASIS</string>
			<string>CHEVELURES</string>
		</array>
		<array>
			<string>Région fertile</string>
			<string>Tourne dans un bocal</string>
			<string>OASIS</string>
			<string>IDE</string>
		</array>
		<array>
			<string>Région fertile</string>
			<string>Couiner</string>
			<string>OASIS</string>
			<string>CRISSER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Terre de Rétais</string>
			<string>Fixerai</string>
			<string>RE</string>
			<string>ANCRERAI</string>
		</array>
		<array>
			<string>Terre de Rétais</string>
			<string>Dans une longue liste</string>
			<string>RE</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Une senteur d’agrume</string>
			<string>Grande surprise</string>
			<string>NEROLI</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Une senteur d’agrume</string>
			<string>Elle secoue quand elle est grosse</string>
			<string>NEROLI</string>
			<string>MER</string>
		</array>
		<array>
			<string>Une senteur d’agrume</string>
			<string>Rongera</string>
			<string>NEROLI</string>
			<string>SAPERA</string>
		</array>
		<array>
			<string>Une senteur d’agrume</string>
			<string>Accord du midi</string>
			<string>NEROLI</string>
			<string>OC</string>
		</array>
		<array>
			<string>Une senteur d’agrume</string>
			<string>Transgressa</string>
			<string>NEROLI</string>
			<string>VIOLA</string>
		</array>
		<array>
			<string>Une senteur d’agrume</string>
			<string>En mettrais trop</string>
			<string>NEROLI</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Divise le signe</string>
			<string>Tourne dans un bocal</string>
			<string>DECAN</string>
			<string>IDE</string>
		</array>
		<array>
			<string>Divise le signe</string>
			<string>Couiner</string>
			<string>DECAN</string>
			<string>CRISSER</string>
		</array>
		<array>
			<string>Divise le signe</string>
			<string>Cela serait préférable</string>
			<string>DECAN</string>
			<string>CA</string>
		</array>
		<array>
			<string>Divise le signe</string>
			<string>Fixerai</string>
			<string>DECAN</string>
			<string>ANCRERAI</string>
		</array>
		<array>
			<string>Divise le signe</string>
			<string>Dans une longue liste</string>
			<string>DECAN</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
	<array>
		<array>
			<string>Causerait du souci</string>
			<string>Grande surprise</string>
			<string>TRACASSERAIT</string>
			<string>EBAHISSEMENT</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Elle secoue quand elle est grosse</string>
			<string>TRACASSERAIT</string>
			<string>MER</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Rongera</string>
			<string>TRACASSERAIT</string>
			<string>SAPERA</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Accord du midi</string>
			<string>TRACASSERAIT</string>
			<string>OC</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Transgressa</string>
			<string>TRACASSERAIT</string>
			<string>VIOLA</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>En mettrais trop</string>
			<string>TRACASSERAIT</string>
			<string>SATURERAIS</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string></string>
			<string>TRACASSERAIT</string>
			<string>S</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Tourne dans un bocal</string>
			<string>TRACASSERAIT</string>
			<string>IDE</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Couiner</string>
			<string>TRACASSERAIT</string>
			<string>CRISSER</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Cela serait préférable</string>
			<string>TRACASSERAIT</string>
			<string>CA</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Fixerai</string>
			<string>TRACASSERAIT</string>
			<string>ANCRERAI</string>
		</array>
		<array>
			<string>Causerait du souci</string>
			<string>Dans une longue liste</string>
			<string>TRACASSERAIT</string>
			<string>SEIZIEMEMENT</string>
		</array>
	</array>
</array>
</plist>
