<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Faux-fuyant</string>
			<string>Regards sur l’humain</string>
			<string>ECHAPPATOIRE</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Fouillais la terre</string>
			<string>ECHAPPATOIRE</string>
			<string>CREUSAIS</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Aigu</string>
			<string>ECHAPPATOIRE</string>
			<string>HAUT</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Cri du cœur</string>
			<string>ECHAPPATOIRE</string>
			<string>AH</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Piaffements</string>
			<string>ECHAPPATOIRE</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string></string>
			<string>ECHAPPATOIRE</string>
			<string>P</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Épongent</string>
			<string>ECHAPPATOIRE</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Demi-sœur du père</string>
			<string>ECHAPPATOIRE</string>
			<string>TA</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Disposent</string>
			<string>ECHAPPATOIRE</string>
			<string>ONT</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Parlent avec les mains</string>
			<string>ECHAPPATOIRE</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>On la beurre</string>
			<string>ECHAPPATOIRE</string>
			<string>ROTIE</string>
		</array>
		<array>
			<string>Faux-fuyant</string>
			<string>Épinglée</string>
			<string>ECHAPPATOIRE</string>
			<string>EUE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Vendu</string>
			<string>Regards sur l’humain</string>
			<string>TRAHI</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Vendu</string>
			<string>Fouillais la terre</string>
			<string>TRAHI</string>
			<string>CREUSAIS</string>
		</array>
		<array>
			<string>Vendu</string>
			<string>Aigu</string>
			<string>TRAHI</string>
			<string>HAUT</string>
		</array>
		<array>
			<string>Vendu</string>
			<string>Cri du cœur</string>
			<string>TRAHI</string>
			<string>AH</string>
		</array>
		<array>
			<string>Vendu</string>
			<string>Piaffements</string>
			<string>TRAHI</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Langue d’Afrique</string>
			<string>Épongent</string>
			<string>BANTOU</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string>Langue d’Afrique</string>
			<string>Demi-sœur du père</string>
			<string>BANTOU</string>
			<string>TA</string>
		</array>
		<array>
			<string>Langue d’Afrique</string>
			<string>Disposent</string>
			<string>BANTOU</string>
			<string>ONT</string>
		</array>
		<array>
			<string>Langue d’Afrique</string>
			<string>Parlent avec les mains</string>
			<string>BANTOU</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Langue d’Afrique</string>
			<string>On la beurre</string>
			<string>BANTOU</string>
			<string>ROTIE</string>
		</array>
		<array>
			<string>Langue d’Afrique</string>
			<string>Épinglée</string>
			<string>BANTOU</string>
			<string>EUE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Préambule hésitant</string>
			<string>Regards sur l’humain</string>
			<string>HEU</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Préambule hésitant</string>
			<string>Fouillais la terre</string>
			<string>HEU</string>
			<string>CREUSAIS</string>
		</array>
		<array>
			<string>Préambule hésitant</string>
			<string>Aigu</string>
			<string>HEU</string>
			<string>HAUT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Légumineuses</string>
			<string>Piaffements</string>
			<string>ERS</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Légumineuses</string>
			<string>Passe un bon moment</string>
			<string>ERS</string>
			<string>RIT</string>
		</array>
		<array>
			<string>Légumineuses</string>
			<string>Épongent</string>
			<string>ERS</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Musée londonien</string>
			<string>Disposent</string>
			<string>TATE</string>
			<string>ONT</string>
		</array>
		<array>
			<string>Musée londonien</string>
			<string>Parlent avec les mains</string>
			<string>TATE</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Musée londonien</string>
			<string>On la beurre</string>
			<string>TATE</string>
			<string>ROTIE</string>
		</array>
		<array>
			<string>Musée londonien</string>
			<string>Épinglée</string>
			<string>TATE</string>
			<string>EUE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Oscillation</string>
			<string>Regards sur l’humain</string>
			<string>NUTATION</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Oscillation</string>
			<string>Fouillais la terre</string>
			<string>NUTATION</string>
			<string>CREUSAIS</string>
		</array>
		<array>
			<string>Oscillation</string>
			<string>Aigu</string>
			<string>NUTATION</string>
			<string>HAUT</string>
		</array>
		<array>
			<string>Oscillation</string>
			<string>N’a jamais de gros pépins</string>
			<string>NUTATION</string>
			<string>API</string>
		</array>
		<array>
			<string>Oscillation</string>
			<string>Piaffements</string>
			<string>NUTATION</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Oscillation</string>
			<string>Passe un bon moment</string>
			<string>NUTATION</string>
			<string>RIT</string>
		</array>
		<array>
			<string>Oscillation</string>
			<string>Épongent</string>
			<string>NUTATION</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string>Oscillation</string>
			<string>Héros à lunettes noires</string>
			<string>NUTATION</string>
			<string>NEO</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Mesure</string>
			<string>Parlent avec les mains</string>
			<string>LI</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Mesure</string>
			<string>On la beurre</string>
			<string>LI</string>
			<string>ROTIE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Restant de festin</string>
			<string>Regards sur l’humain</string>
			<string>OS</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Restant de festin</string>
			<string>Fouillais la terre</string>
			<string>OS</string>
			<string>CREUSAIS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>N’a jamais de gros pépins</string>
			<string>PITRERIES</string>
			<string>API</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>Piaffements</string>
			<string>PITRERIES</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>Passe un bon moment</string>
			<string>PITRERIES</string>
			<string>RIT</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>Épongent</string>
			<string>PITRERIES</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>Héros à lunettes noires</string>
			<string>PITRERIES</string>
			<string>NEO</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>Se vide le soir</string>
			<string>PITRERIES</string>
			<string>RUE</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>Parlent avec les mains</string>
			<string>PITRERIES</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>On la beurre</string>
			<string>PITRERIES</string>
			<string>ROTIE</string>
		</array>
		<array>
			<string>Singeries</string>
			<string>L’oisif ne risque pas d’en attraper</string>
			<string>PITRERIES</string>
			<string>SUEE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Titi</string>
			<string>Regards sur l’humain</string>
			<string>GAMIN</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Titi</string>
			<string>Fouillais la terre</string>
			<string>GAMIN</string>
			<string>CREUSAIS</string>
		</array>
		<array>
			<string>Titi</string>
			<string>Plateau</string>
			<string>GAMIN</string>
			<string>MESA</string>
		</array>
		<array>
			<string>Titi</string>
			<string>N’a jamais de gros pépins</string>
			<string>GAMIN</string>
			<string>API</string>
		</array>
		<array>
			<string>Titi</string>
			<string>Piaffements</string>
			<string>GAMIN</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Bain des sangliers</string>
			<string>Épongent</string>
			<string>BOUE</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string>Bain des sangliers</string>
			<string>Héros à lunettes noires</string>
			<string>BOUE</string>
			<string>NEO</string>
		</array>
		<array>
			<string>Bain des sangliers</string>
			<string>Se vide le soir</string>
			<string>BOUE</string>
			<string>RUE</string>
		</array>
		<array>
			<string>Bain des sangliers</string>
			<string>Parlent avec les mains</string>
			<string>BOUE</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>L’oisif ne risque pas d’en attraper</string>
			<string>U</string>
			<string>SUEE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Pouffe</string>
			<string>Regards sur l’humain</string>
			<string>RIE</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Pouffe</string>
			<string>Fouillais la terre</string>
			<string>RIE</string>
			<string>CREUSAIS</string>
		</array>
		<array>
			<string>Pouffe</string>
			<string>Plateau</string>
			<string>RIE</string>
			<string>MESA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Temps imprécis</string>
			<string>Piaffements</string>
			<string>ERE</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Temps imprécis</string>
			<string>Élimée</string>
			<string>ERE</string>
			<string>RAPEE</string>
		</array>
		<array>
			<string>Temps imprécis</string>
			<string>Épongent</string>
			<string>ERE</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Donne des prunes</string>
			<string>Se vide le soir</string>
			<string>ENTE</string>
			<string>RUE</string>
		</array>
		<array>
			<string>Donne des prunes</string>
			<string>Parlent avec les mains</string>
			<string>ENTE</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Donne des prunes</string>
			<string>Éminence</string>
			<string>ENTE</string>
			<string>TERTRE</string>
		</array>
		<array>
			<string>Donne des prunes</string>
			<string>L’oisif ne risque pas d’en attraper</string>
			<string>ENTE</string>
			<string>SUEE</string>
		</array>
	</array>
	<array>
		<array>
			<string>Ne fuyant pas</string>
			<string>Regards sur l’humain</string>
			<string>ASSUMANT</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Ne fuyant pas</string>
			<string>Fouillais la terre</string>
			<string>ASSUMANT</string>
			<string>CREUSAIS</string>
		</array>
		<array>
			<string>Ne fuyant pas</string>
			<string>Plateau</string>
			<string>ASSUMANT</string>
			<string>MESA</string>
		</array>
		<array>
			<string>Ne fuyant pas</string>
			<string>Minait</string>
			<string>ASSUMANT</string>
			<string>USAIT</string>
		</array>
		<array>
			<string>Ne fuyant pas</string>
			<string>Piaffements</string>
			<string>ASSUMANT</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Ne fuyant pas</string>
			<string>Élimée</string>
			<string>ASSUMANT</string>
			<string>RAPEE</string>
		</array>
		<array>
			<string>Ne fuyant pas</string>
			<string>Épongent</string>
			<string>ASSUMANT</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string>Ne fuyant pas</string>
			<string>Frère de Cronos</string>
			<string>ASSUMANT</string>
			<string>TITAN</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Apparue</string>
			<string>Parlent avec les mains</string>
			<string>NEE</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Apparue</string>
			<string>Éminence</string>
			<string>NEE</string>
			<string>TERTRE</string>
		</array>
		<array>
			<string>Apparue</string>
			<string>L’oisif ne risque pas d’en attraper</string>
			<string>NEE</string>
			<string>SUEE</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Regards sur l’humain</string>
			<string>P</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Plateau</string>
			<string>ASEPTISER</string>
			<string>MESA</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Minait</string>
			<string>ASEPTISER</string>
			<string>USAIT</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Piaffements</string>
			<string>ASEPTISER</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Élimée</string>
			<string>ASEPTISER</string>
			<string>RAPEE</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Épongent</string>
			<string>ASEPTISER</string>
			<string>ABSORBENT</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Frère de Cronos</string>
			<string>ASEPTISER</string>
			<string>TITAN</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Terme de capitulation</string>
			<string>ASEPTISER</string>
			<string>SOIT</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Parlent avec les mains</string>
			<string>ASEPTISER</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Traiter pour opérer</string>
			<string>Éminence</string>
			<string>ASEPTISER</string>
			<string>TERTRE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Surprise</string>
			<string>Regards sur l’humain</string>
			<string>HA</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Surprise</string>
			<string>Beauté façonnée</string>
			<string>HA</string>
			<string>ART</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Reste sans connaissance</string>
			<string>Minait</string>
			<string>ANE</string>
			<string>USAIT</string>
		</array>
		<array>
			<string>Reste sans connaissance</string>
			<string>Piaffements</string>
			<string>ANE</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Reste sans connaissance</string>
			<string>Élimée</string>
			<string>ANE</string>
			<string>RAPEE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Ancien toast</string>
			<string>Frère de Cronos</string>
			<string>TOSTE</string>
			<string>TITAN</string>
		</array>
		<array>
			<string>Ancien toast</string>
			<string>Terme de capitulation</string>
			<string>TOSTE</string>
			<string>SOIT</string>
		</array>
		<array>
			<string>Ancien toast</string>
			<string>Parlent avec les mains</string>
			<string>TOSTE</string>
			<string>ITALIENNES</string>
		</array>
		<array>
			<string>Ancien toast</string>
			<string>Éminence</string>
			<string>TOSTE</string>
			<string>TERTRE</string>
		</array>
		<array>
			<string>Ancien toast</string>
			<string>Bernés</string>
			<string>TOSTE</string>
			<string>EUS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Ferai grincer</string>
			<string>Regards sur l’humain</string>
			<string>IRRITERAI</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>Ferai grincer</string>
			<string>Beauté façonnée</string>
			<string>IRRITERAI</string>
			<string>ART</string>
		</array>
		<array>
			<string>Ferai grincer</string>
			<string>Dieu à tête de faucon</string>
			<string>IRRITERAI</string>
			<string>RA</string>
		</array>
		<array>
			<string>Ferai grincer</string>
			<string>Minait</string>
			<string>IRRITERAI</string>
			<string>USAIT</string>
		</array>
		<array>
			<string>Ferai grincer</string>
			<string>Piaffements</string>
			<string>IRRITERAI</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string>Ferai grincer</string>
			<string>Élimée</string>
			<string>IRRITERAI</string>
			<string>RAPEE</string>
		</array>
		<array>
			<string>Ferai grincer</string>
			<string>Île</string>
			<string>IRRITERAI</string>
			<string>RE</string>
		</array>
		<array>
			<string>Ferai grincer</string>
			<string>Frère de Cronos</string>
			<string>IRRITERAI</string>
			<string>TITAN</string>
		</array>
		<array>
			<string>Ferai grincer</string>
			<string>Terme de capitulation</string>
			<string>IRRITERAI</string>
			<string>SOIT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Discret courant</string>
			<string>Éminence</string>
			<string>RU</string>
			<string>TERTRE</string>
		</array>
		<array>
			<string>Discret courant</string>
			<string>Bernés</string>
			<string>RU</string>
			<string>EUS</string>
		</array>
	</array>
	<array>
		<array>
			<string>L’union fait leur force</string>
			<string>Regards sur l’humain</string>
			<string>ETATS</string>
			<string>ETHNOGRAPHIE</string>
		</array>
		<array>
			<string>L’union fait leur force</string>
			<string>Beauté façonnée</string>
			<string>ETATS</string>
			<string>ART</string>
		</array>
		<array>
			<string>L’union fait leur force</string>
			<string>Dieu à tête de faucon</string>
			<string>ETATS</string>
			<string>RA</string>
		</array>
		<array>
			<string>L’union fait leur force</string>
			<string>Minait</string>
			<string>ETATS</string>
			<string>USAIT</string>
		</array>
		<array>
			<string>L’union fait leur force</string>
			<string>Piaffements</string>
			<string>ETATS</string>
			<string>PIETINEMENTS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Passes le seuil</string>
			<string>Île</string>
			<string>ENTRES</string>
			<string>RE</string>
		</array>
		<array>
			<string>Passes le seuil</string>
			<string>Frère de Cronos</string>
			<string>ENTRES</string>
			<string>TITAN</string>
		</array>
		<array>
			<string>Passes le seuil</string>
			<string>Terme de capitulation</string>
			<string>ENTRES</string>
			<string>SOIT</string>
		</array>
		<array>
			<string>Passes le seuil</string>
			<string></string>
			<string>ENTRES</string>
			<string>R</string>
		</array>
		<array>
			<string>Passes le seuil</string>
			<string>Éminence</string>
			<string>ENTRES</string>
			<string>TERTRE</string>
		</array>
		<array>
			<string>Passes le seuil</string>
			<string>Bernés</string>
			<string>ENTRES</string>
			<string>EUS</string>
		</array>
	</array>
</array>
</plist>
