<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Altération</string>
			<string>PERMETTAIENT</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Explores à l’aveuglette</string>
			<string>PERMETTAIENT</string>
			<string>ERRES</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Revint sur ses pas</string>
			<string>PERMETTAIENT</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Possessif</string>
			<string>PERMETTAIENT</string>
			<string>MES</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>S’éloigner en groupe</string>
			<string>PERMETTAIENT</string>
			<string>ESSAIMER</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string></string>
			<string>PERMETTAIENT</string>
			<string>T</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Reste discret</string>
			<string>PERMETTAIENT</string>
			<string>TAIT</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Exprimer avec force</string>
			<string>PERMETTAIENT</string>
			<string>ASSENER</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Abréviation</string>
			<string>PERMETTAIENT</string>
			<string>IE</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Exclure du partage</string>
			<string>PERMETTAIENT</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>Au naturel</string>
			<string>PERMETTAIENT</string>
			<string>NUE</string>
		</array>
		<array>
			<string>Faisaient preuve de tolérance</string>
			<string>File sans retour</string>
			<string>PERMETTAIENT</string>
			<string>TEMPS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Poisons à évacuer</string>
			<string>Altération</string>
			<string>UREES</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Poisons à évacuer</string>
			<string>Explores à l’aveuglette</string>
			<string>UREES</string>
			<string>ERRES</string>
		</array>
		<array>
			<string>Poisons à évacuer</string>
			<string>Revint sur ses pas</string>
			<string>UREES</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Poisons à évacuer</string>
			<string>Possessif</string>
			<string>UREES</string>
			<string>MES</string>
		</array>
		<array>
			<string>Poisons à évacuer</string>
			<string>S’éloigner en groupe</string>
			<string>UREES</string>
			<string>ESSAIMER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Ne penche d’aucun côté</string>
			<string>Reste discret</string>
			<string>ASEXUE</string>
			<string>TAIT</string>
		</array>
		<array>
			<string>Ne penche d’aucun côté</string>
			<string>Exprimer avec force</string>
			<string>ASEXUE</string>
			<string>ASSENER</string>
		</array>
		<array>
			<string>Ne penche d’aucun côté</string>
			<string>Abréviation</string>
			<string>ASEXUE</string>
			<string>IE</string>
		</array>
		<array>
			<string>Ne penche d’aucun côté</string>
			<string>Exclure du partage</string>
			<string>ASEXUE</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string>Ne penche d’aucun côté</string>
			<string>Au naturel</string>
			<string>ASEXUE</string>
			<string>NUE</string>
		</array>
		<array>
			<string>Ne penche d’aucun côté</string>
			<string>File sans retour</string>
			<string>ASEXUE</string>
			<string>TEMPS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Ordonnais les brins</string>
			<string>Altération</string>
			<string>TRESSAIS</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Ordonnais les brins</string>
			<string>Explores à l’aveuglette</string>
			<string>TRESSAIS</string>
			<string>ERRES</string>
		</array>
		<array>
			<string>Ordonnais les brins</string>
			<string>Revint sur ses pas</string>
			<string>TRESSAIS</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Ordonnais les brins</string>
			<string>Possessif</string>
			<string>TRESSAIS</string>
			<string>MES</string>
		</array>
		<array>
			<string>Ordonnais les brins</string>
			<string>S’éloigner en groupe</string>
			<string>TRESSAIS</string>
			<string>ESSAIMER</string>
		</array>
		<array>
			<string>Ordonnais les brins</string>
			<string>Ni aigu, ni grave</string>
			<string>TRESSAIS</string>
			<string>ALTO</string>
		</array>
		<array>
			<string>Ordonnais les brins</string>
			<string>Reste discret</string>
			<string>TRESSAIS</string>
			<string>TAIT</string>
		</array>
		<array>
			<string>Ordonnais les brins</string>
			<string>Exprimer avec force</string>
			<string>TRESSAIS</string>
			<string>ASSENER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Onomatopée</string>
			<string>Exclure du partage</string>
			<string>HEM</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string>Onomatopée</string>
			<string>Au naturel</string>
			<string>HEM</string>
			<string>NUE</string>
		</array>
		<array>
			<string>Onomatopée</string>
			<string>File sans retour</string>
			<string>HEM</string>
			<string>TEMPS</string>
		</array>
	</array>
	<array>
		<array>
			<string>État onirique</string>
			<string>Altération</string>
			<string>REM</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>État onirique</string>
			<string>Explores à l’aveuglette</string>
			<string>REM</string>
			<string>ERRES</string>
		</array>
		<array>
			<string>État onirique</string>
			<string>Revint sur ses pas</string>
			<string>REM</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Vicié</string>
			<string>S’éloigner en groupe</string>
			<string>ALTERE</string>
			<string>ESSAIMER</string>
		</array>
		<array>
			<string>Vicié</string>
			<string>Ni aigu, ni grave</string>
			<string>ALTERE</string>
			<string>ALTO</string>
		</array>
		<array>
			<string>Vicié</string>
			<string>Reste discret</string>
			<string>ALTERE</string>
			<string>TAIT</string>
		</array>
		<array>
			<string>Vicié</string>
			<string>Exprimer avec force</string>
			<string>ALTERE</string>
			<string>ASSENER</string>
		</array>
		<array>
			<string>Vicié</string>
			<string>Installeras ailleurs</string>
			<string>ALTERE</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string>Vicié</string>
			<string>Exclure du partage</string>
			<string>ALTERE</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string>File sans retour</string>
			<string>P</string>
			<string>TEMPS</string>
		</array>
	</array>
	<array>
		<array>
			<string>Dérangé en cas de folie</string>
			<string>Altération</string>
			<string>ESPRIT</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Dérangé en cas de folie</string>
			<string>Explores à l’aveuglette</string>
			<string>ESPRIT</string>
			<string>ERRES</string>
		</array>
		<array>
			<string>Dérangé en cas de folie</string>
			<string>Revint sur ses pas</string>
			<string>ESPRIT</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Dérangé en cas de folie</string>
			<string>Dîna</string>
			<string>ESPRIT</string>
			<string>RESTAURA</string>
		</array>
		<array>
			<string>Dérangé en cas de folie</string>
			<string>S’éloigner en groupe</string>
			<string>ESPRIT</string>
			<string>ESSAIMER</string>
		</array>
		<array>
			<string>Dérangé en cas de folie</string>
			<string>Ni aigu, ni grave</string>
			<string>ESPRIT</string>
			<string>ALTO</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Fils conducteurs</string>
			<string>Exprimer avec force</string>
			<string>NERFS</string>
			<string>ASSENER</string>
		</array>
		<array>
			<string>Fils conducteurs</string>
			<string>Installeras ailleurs</string>
			<string>NERFS</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string>Fils conducteurs</string>
			<string>Exclure du partage</string>
			<string>NERFS</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string>Fils conducteurs</string>
			<string>Altérer</string>
			<string>NERFS</string>
			<string>FRELATER</string>
		</array>
		<array>
			<string>Fils conducteurs</string>
			<string>File sans retour</string>
			<string>NERFS</string>
			<string>TEMPS</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string>Altération</string>
			<string>F</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>Revint sur ses pas</string>
			<string>REMODELER</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>Dîna</string>
			<string>REMODELER</string>
			<string>RESTAURA</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>S’éloigner en groupe</string>
			<string>REMODELER</string>
			<string>ESSAIMER</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>Ni aigu, ni grave</string>
			<string>REMODELER</string>
			<string>ALTO</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>Quitta les rangs</string>
			<string>REMODELER</string>
			<string>DESERTA</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>Exprimer avec force</string>
			<string>REMODELER</string>
			<string>ASSENER</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>Installeras ailleurs</string>
			<string>REMODELER</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>Exclure du partage</string>
			<string>REMODELER</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string>Changer d’allure</string>
			<string>Altérer</string>
			<string>REMODELER</string>
			<string>FRELATER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Trompe</string>
			<string>Altération</string>
			<string>ABUSE</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Trompe</string>
			<string>Ouverture</string>
			<string>ABUSE</string>
			<string>BEANCE</string>
		</array>
		<array>
			<string>Trompe</string>
			<string>Revint sur ses pas</string>
			<string>ABUSE</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Trompe</string>
			<string>Dîna</string>
			<string>ABUSE</string>
			<string>RESTAURA</string>
		</array>
		<array>
			<string>Trompe</string>
			<string>S’éloigner en groupe</string>
			<string>ABUSE</string>
			<string>ESSAIMER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Attaquer le relief</string>
			<string>Quitta les rangs</string>
			<string>ERODER</string>
			<string>DESERTA</string>
		</array>
		<array>
			<string>Attaquer le relief</string>
			<string>Exprimer avec force</string>
			<string>ERODER</string>
			<string>ASSENER</string>
		</array>
		<array>
			<string>Attaquer le relief</string>
			<string>Installeras ailleurs</string>
			<string>ERODER</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string>Attaquer le relief</string>
			<string>Exclure du partage</string>
			<string>ERODER</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string>Attaquer le relief</string>
			<string>Altérer</string>
			<string>ERODER</string>
			<string>FRELATER</string>
		</array>
		<array>
			<string>Attaquer le relief</string>
			<string>Criera</string>
			<string>ERODER</string>
			<string>RAIERA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Cœurs géométriques</string>
			<string>Altération</string>
			<string>CENTRES</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Cœurs géométriques</string>
			<string>Ouverture</string>
			<string>CENTRES</string>
			<string>BEANCE</string>
		</array>
		<array>
			<string>Cœurs géométriques</string>
			<string>Revint sur ses pas</string>
			<string>CENTRES</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Cœurs géométriques</string>
			<string>Dîna</string>
			<string>CENTRES</string>
			<string>RESTAURA</string>
		</array>
		<array>
			<string>Cœurs géométriques</string>
			<string>S’éloigner en groupe</string>
			<string>CENTRES</string>
			<string>ESSAIMER</string>
		</array>
		<array>
			<string>Cœurs géométriques</string>
			<string>Donna un siège</string>
			<string>CENTRES</string>
			<string>ELUT</string>
		</array>
		<array>
			<string>Cœurs géométriques</string>
			<string>Quitta les rangs</string>
			<string>CENTRES</string>
			<string>DESERTA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Figea</string>
			<string>Installeras ailleurs</string>
			<string>GELA</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string>Figea</string>
			<string>Exclure du partage</string>
			<string>GELA</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string>Figea</string>
			<string>Altérer</string>
			<string>GELA</string>
			<string>FRELATER</string>
		</array>
		<array>
			<string>Figea</string>
			<string>Criera</string>
			<string>GELA</string>
			<string>RAIERA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Moitié d’oncle</string>
			<string>Altération</string>
			<string>TATA</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Moitié d’oncle</string>
			<string>Ouverture</string>
			<string>TATA</string>
			<string>BEANCE</string>
		</array>
		<array>
			<string>Moitié d’oncle</string>
			<string>Revint sur ses pas</string>
			<string>TATA</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Moitié d’oncle</string>
			<string>Dîna</string>
			<string>TATA</string>
			<string>RESTAURA</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Sortirai du lit</string>
			<string>Donna un siège</string>
			<string>LEVERAI</string>
			<string>ELUT</string>
		</array>
		<array>
			<string>Sortirai du lit</string>
			<string>Quitta les rangs</string>
			<string>LEVERAI</string>
			<string>DESERTA</string>
		</array>
		<array>
			<string>Sortirai du lit</string>
			<string>Préposition</string>
			<string>LEVERAI</string>
			<string>VERS</string>
		</array>
		<array>
			<string>Sortirai du lit</string>
			<string>Installeras ailleurs</string>
			<string>LEVERAI</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string>Sortirai du lit</string>
			<string>Exclure du partage</string>
			<string>LEVERAI</string>
			<string>EXHEREDER</string>
		</array>
		<array>
			<string>Sortirai du lit</string>
			<string>Altérer</string>
			<string>LEVERAI</string>
			<string>FRELATER</string>
		</array>
		<array>
			<string>Sortirai du lit</string>
			<string>Criera</string>
			<string>LEVERAI</string>
			<string>RAIERA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Altération</string>
			<string>INAUGURER</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Ouverture</string>
			<string>INAUGURER</string>
			<string>BEANCE</string>
		</array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Revint sur ses pas</string>
			<string>INAUGURER</string>
			<string>REEMPRUNTA</string>
		</array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Dîna</string>
			<string>INAUGURER</string>
			<string>RESTAURA</string>
		</array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Mesure d’accélération</string>
			<string>INAUGURER</string>
			<string>GAL</string>
		</array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Donna un siège</string>
			<string>INAUGURER</string>
			<string>ELUT</string>
		</array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Quitta les rangs</string>
			<string>INAUGURER</string>
			<string>DESERTA</string>
		</array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Préposition</string>
			<string>INAUGURER</string>
			<string>VERS</string>
		</array>
		<array>
			<string>Donner le coup d’envoi</string>
			<string>Installeras ailleurs</string>
			<string>INAUGURER</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Pronom</string>
			<string>Altérer</string>
			<string>TE</string>
			<string>FRELATER</string>
		</array>
		<array>
			<string>Pronom</string>
			<string>Criera</string>
			<string>TE</string>
			<string>RAIERA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Consentement</string>
			<string>Altération</string>
			<string>OC</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Consentement</string>
			<string>Ouverture</string>
			<string>OC</string>
			<string>BEANCE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Dîna</string>
			<string>RATTRAPER</string>
			<string>RESTAURA</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Mesure d’accélération</string>
			<string>RATTRAPER</string>
			<string>GAL</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Donna un siège</string>
			<string>RATTRAPER</string>
			<string>ELUT</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Quitta les rangs</string>
			<string>RATTRAPER</string>
			<string>DESERTA</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Préposition</string>
			<string>RATTRAPER</string>
			<string>VERS</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Installeras ailleurs</string>
			<string>RATTRAPER</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Eu l’aval</string>
			<string>RATTRAPER</string>
			<string>PU</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Altérer</string>
			<string>RATTRAPER</string>
			<string>FRELATER</string>
		</array>
		<array>
			<string>Ne pas laisser filer</string>
			<string>Criera</string>
			<string>RATTRAPER</string>
			<string>RAIERA</string>
		</array>
	</array>
	<array>
		<array>
			<string>Toit du monde</string>
			<string>Altération</string>
			<string>NEPAL</string>
			<string>PUTREFACTION</string>
		</array>
		<array>
			<string>Toit du monde</string>
			<string>Ouverture</string>
			<string>NEPAL</string>
			<string>BEANCE</string>
		</array>
		<array>
			<string>Toit du monde</string>
			<string></string>
			<string>NEPAL</string>
			<string>P</string>
		</array>
		<array>
			<string>Toit du monde</string>
			<string>Dîna</string>
			<string>NEPAL</string>
			<string>RESTAURA</string>
		</array>
		<array>
			<string>Toit du monde</string>
			<string>Mesure d’accélération</string>
			<string>NEPAL</string>
			<string>GAL</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>Protégea</string>
			<string>Quitta les rangs</string>
			<string>ASSURA</string>
			<string>DESERTA</string>
		</array>
		<array>
			<string>Protégea</string>
			<string>Préposition</string>
			<string>ASSURA</string>
			<string>VERS</string>
		</array>
		<array>
			<string>Protégea</string>
			<string>Installeras ailleurs</string>
			<string>ASSURA</string>
			<string>RELOGERAS</string>
		</array>
		<array>
			<string>Protégea</string>
			<string>Eu l’aval</string>
			<string>ASSURA</string>
			<string>PU</string>
		</array>
		<array>
			<string>Protégea</string>
			<string>Altérer</string>
			<string>ASSURA</string>
			<string>FRELATER</string>
		</array>
		<array>
			<string>Protégea</string>
			<string>Criera</string>
			<string>ASSURA</string>
			<string>RAIERA</string>
		</array>
	</array>
</array>
</plist>
