<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
          <string>Un</string>
          <string>PREDATEURS</string>
          <string>H</string>
          <string>Se nourrit des autres</string>
    </array>
    <array>
          <string>Un</string>
          <string>ENS</string>
          <string>H</string>
          <string>École Normale Supérieure</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>S</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>VS</string>
          <string>H</string>
          <string>Par  opposition à</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>I</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>R</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>BOB</string>
          <string>H</string>
          <string>Diminutif anglais de Robert</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>AT</string>
          <string>H</string>
          <string>Astate</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>B</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>MIA</string>
          <string>H</string>
          <string>Une chanteuse anglaise de Rap</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>ENLEVE</string>
          <string>H</string>
          <string>Ote</string>
    </array>
    <array>
          <string>Un</string>
          <string>I</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>UNS</string>
          <string>H</string>
          <string>Avant les autres</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>UN</string>
          <string>H</string>
          <string>Adjectif numéral</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>R</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>SUD</string>
          <string>H</string>
          <string>Point cardinal</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>TUAS</string>
          <string>H</string>
          <string>Éliminas</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>I</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>S</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>IGOR</string>
          <string>H</string>
          <string>Prénom de Stravinsky</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>IRE</string>
          <string>H</string>
          <string>Colère</string>
    </array>
    <array>
          <string>Un</string>
          <string>IVRES</string>
          <string>H</string>
          <string>Ronds</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>IL</string>
          <string>H</string>
          <string>Pronom personnel</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>N</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>VA</string>
          <string>H</string>
          <string>Puissance électrique efficace</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>OEUVEE</string>
          <string>H</string>
          <string>Se dit de la femelle du poisson lorsqu&apos;elle porte des œufs</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>ERS</string>
          <string>H</string>
          <string>Plante herbacée</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>S</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>H</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>ESSE</string>
          <string>H</string>
          <string>Crochet double</string>
    </array>
    <array>
          <string>Un</string>
          <string>PERMISSIVE</string>
          <string>V</string>
          <string>Les enfants l&apos;aiment bien</string>
    </array>
    <array>
          <string>Un</string>
          <string>RN</string>
          <string>V</string>
          <string>Radon</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>I</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>U</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>VAR</string>
          <string>V</string>
          <string>Département français</string>
    </array>
    <array>
          <string>Un</string>
          <string>ESBAUDIR</string>
          <string>V</string>
          <string>Se réjouir</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>S</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>D</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>O</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>N</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>GEO</string>
          <string>V</string>
          <string>Préfixe qui signifie terre</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>ASBESTOSES</string>
          <string>V</string>
          <string>Maladies professionnelles</string>
    </array>
    <array>
          <string>Un</string>
          <string>T</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>N</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>UR</string>
          <string>V</string>
          <string>Ancienne cité</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>U</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>EVALUA</string>
          <string>V</string>
          <string>Estima</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>IVE</string>
          <string>V</string>
          <string>Plante à fleurs jaunes</string>
    </array>
    <array>
          <string>Un</string>
          <string>USTENSILES</string>
          <string>V</string>
          <string>Accessoires</string>
    </array>
    <array>
          <string>Un</string>
          <string>R</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>V</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>R</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>ES</string>
          <string>V</string>
          <string>En matière de</string>
    </array>
    <array>
          <string>Un</string>
          <string>SIBERIEN</string>
          <string>V</string>
          <string>Très froid</string>
    </array>
    <array>
          <string>Un</string>
          <string>#</string>
          <string>V</string>
          <string></string>
    </array>
    <array>
          <string>Un</string>
          <string>E</string>
          <string>V</string>
          <string></string>
    </array>
</array>
</plist>