<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string> Dilettantismes</string>
			<string> Refus des réalités</string>
			<string>AMATEURISMES</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> Orifice</string>
			<string>AMATEURISMES</string>
			<string>MEAT</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> S&apos;occupent des bêtes</string>
			<string>AMATEURISMES</string>
			<string>ANIERES</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string>S&apos;enfoncent dans la terre</string>
			<string>AMATEURISMES</string>
			<string>TEE</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> Liaison</string>
			<string>AMATEURISMES</string>
			<string>ET</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> Née de la même mère</string>
			<string>AMATEURISMES</string>
			<string>UTERINE</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> Goûtées à nouveau</string>
			<string>AMATEURISMES</string>
			<string>RETATEES</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string></string>
			<string>AMATEURISMES</string>
			<string>I</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> Singe</string>
			<string>AMATEURISMES</string>
			<string>SAI</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>AMATEURISMES</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> Infinitif</string>
			<string>AMATEURISMES</string>
			<string>ER</string>
		</array>
		<array>
			<string> Dilettantismes</string>
			<string> Offre</string>
			<string>AMATEURISMES</string>
			<string>SERT</string>
		</array>
	</array>
	<array>
		<array>
			<string> Jeune fille</string>
			<string> Refus des réalités</string>
			<string>NENETTE</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string> Jeune fille</string>
			<string> Orifice</string>
			<string>NENETTE</string>
			<string>MEAT</string>
		</array>
		<array>
			<string> Jeune fille</string>
			<string> S&apos;occupent des bêtes</string>
			<string>NENETTE</string>
			<string>ANIERES</string>
		</array>
		<array>
			<string> Jeune fille</string>
			<string>S&apos;enfoncent dans la terre</string>
			<string>NENETTE</string>
			<string>TEE</string>
		</array>
		<array>
			<string> Jeune fille</string>
			<string> Liaison</string>
			<string>NENETTE</string>
			<string>ET</string>
		</array>
		<array>
			<string> Jeune fille</string>
			<string> Née de la même mère</string>
			<string>NENETTE</string>
			<string>UTERINE</string>
		</array>
		<array>
			<string> Jeune fille</string>
			<string> Goûtées à nouveau</string>
			<string>NENETTE</string>
			<string>RETATEES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Ouvre la fenêtre</string>
			<string> Singe</string>
			<string>AERE</string>
			<string>SAI</string>
		</array>
		<array>
			<string> Ouvre la fenêtre</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>AERE</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string> Ouvre la fenêtre</string>
			<string> Infinitif</string>
			<string>AERE</string>
			<string>ER</string>
		</array>
		<array>
			<string> Ouvre la fenêtre</string>
			<string> Offre</string>
			<string>AERE</string>
			<string>SERT</string>
		</array>
	</array>
	<array>
		<array>
			<string> Comme un pinson</string>
			<string> Refus des réalités</string>
			<string>GAIE</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string> Comme un pinson</string>
			<string> Orifice</string>
			<string>GAIE</string>
			<string>MEAT</string>
		</array>
		<array>
			<string> Comme un pinson</string>
			<string> S&apos;occupent des bêtes</string>
			<string>GAIE</string>
			<string>ANIERES</string>
		</array>
		<array>
			<string> Comme un pinson</string>
			<string>S&apos;enfoncent dans la terre</string>
			<string>GAIE</string>
			<string>TEE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Existais</string>
			<string> Née de la même mère</string>
			<string>ETAIS</string>
			<string>UTERINE</string>
		</array>
		<array>
			<string> Existais</string>
			<string> Goûtées à nouveau</string>
			<string>ETAIS</string>
			<string>RETATEES</string>
		</array>
		<array>
			<string> Existais</string>
			<string> Plus fort que le roi</string>
			<string>ETAIS</string>
			<string>AS</string>
		</array>
		<array>
			<string> Existais</string>
			<string> Singe</string>
			<string>ETAIS</string>
			<string>SAI</string>
		</array>
		<array>
			<string> Existais</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>ETAIS</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Offre</string>
			<string>R</string>
			<string>SERT</string>
		</array>
	</array>
	<array>
		<array>
			<string> Froid il est pourri</string>
			<string> Refus des réalités</string>
			<string>ETE</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string> Froid il est pourri</string>
			<string> Orifice</string>
			<string>ETE</string>
			<string>MEAT</string>
		</array>
		<array>
			<string> Froid il est pourri</string>
			<string> S&apos;occupent des bêtes</string>
			<string>ETE</string>
			<string>ANIERES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Une maladie pulmonaire</string>
			<string> Ce n&apos;est pas à toi</string>
			<string>SRAS</string>
			<string>SA</string>
		</array>
		<array>
			<string> Une maladie pulmonaire</string>
			<string> Née de la même mère</string>
			<string>SRAS</string>
			<string>UTERINE</string>
		</array>
		<array>
			<string> Une maladie pulmonaire</string>
			<string> Goûtées à nouveau</string>
			<string>SRAS</string>
			<string>RETATEES</string>
		</array>
		<array>
			<string> Une maladie pulmonaire</string>
			<string> Plus fort que le roi</string>
			<string>SRAS</string>
			<string>AS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Terme de tennis</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>SET</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string> Terme de tennis</string>
			<string> Génies de l&apos;air</string>
			<string>SET</string>
			<string>ELFES</string>
		</array>
		<array>
			<string> Terme de tennis</string>
			<string> Offre</string>
			<string>SET</string>
			<string>SERT</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string> Refus des réalités</string>
			<string>L</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Bramait</string>
			<string> S&apos;occupent des bêtes</string>
			<string>REAIT</string>
			<string>ANIERES</string>
		</array>
		<array>
			<string> Bramait</string>
			<string> En matière de</string>
			<string>REAIT</string>
			<string>ES</string>
		</array>
		<array>
			<string> Bramait</string>
			<string> Ce n&apos;est pas à toi</string>
			<string>REAIT</string>
			<string>SA</string>
		</array>
		<array>
			<string> Bramait</string>
			<string> Née de la même mère</string>
			<string>REAIT</string>
			<string>UTERINE</string>
		</array>
		<array>
			<string> Bramait</string>
			<string> Goûtées à nouveau</string>
			<string>REAIT</string>
			<string>RETATEES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> C&apos;est piquant</string>
			<string> Air Canada</string>
			<string>AIL</string>
			<string>AC</string>
		</array>
		<array>
			<string> C&apos;est piquant</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>AIL</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string> C&apos;est piquant</string>
			<string> Génies de l&apos;air</string>
			<string>AIL</string>
			<string>ELFES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string>Colères</string>
			<string> Refus des réalités</string>
			<string>IRES</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string>Colères</string>
			<string> Redit</string>
			<string>IRES</string>
			<string>REITERE</string>
		</array>
		<array>
			<string>Colères</string>
			<string> S&apos;occupent des bêtes</string>
			<string>IRES</string>
			<string>ANIERES</string>
		</array>
		<array>
			<string>Colères</string>
			<string> En matière de</string>
			<string>IRES</string>
			<string>ES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Moins bon mais plus rapide.</string>
			<string> Née de la même mère</string>
			<string>NESCAFE</string>
			<string>UTERINE</string>
		</array>
		<array>
			<string> Moins bon mais plus rapide.</string>
			<string> Goûtées à nouveau</string>
			<string>NESCAFE</string>
			<string>RETATEES</string>
		</array>
		<array>
			<string> Moins bon mais plus rapide.</string>
			<string> Fait sur l&apos;eau ou sur la neige</string>
			<string>NESCAFE</string>
			<string>SKIE</string>
		</array>
		<array>
			<string> Moins bon mais plus rapide.</string>
			<string> Air Canada</string>
			<string>NESCAFE</string>
			<string>AC</string>
		</array>
		<array>
			<string> Moins bon mais plus rapide.</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>NESCAFE</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string> Moins bon mais plus rapide.</string>
			<string> Génies de l&apos;air</string>
			<string>NESCAFE</string>
			<string>ELFES</string>
		</array>
		<array>
			<string> Moins bon mais plus rapide.</string>
			<string> Plus courte</string>
			<string>NESCAFE</string>
			<string>ETETEE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Possessif.</string>
			<string> Refus des réalités</string>
			<string>SES</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string> Possessif.</string>
			<string> Redit</string>
			<string>SES</string>
			<string>REITERE</string>
		</array>
		<array>
			<string> Possessif.</string>
			<string> S&apos;occupent des bêtes</string>
			<string>SES</string>
			<string>ANIERES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Passionné par les technologies</string>
			<string> Naissance</string>
			<string>GEEK</string>
			<string>GENESE</string>
		</array>
		<array>
			<string> Passionné par les technologies</string>
			<string> Née de la même mère</string>
			<string>GEEK</string>
			<string>UTERINE</string>
		</array>
		<array>
			<string> Passionné par les technologies</string>
			<string> Goûtées à nouveau</string>
			<string>GEEK</string>
			<string>RETATEES</string>
		</array>
		<array>
			<string> Passionné par les technologies</string>
			<string> Fait sur l&apos;eau ou sur la neige</string>
			<string>GEEK</string>
			<string>SKIE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>  Clair</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>NET</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string>  Clair</string>
			<string> Génies de l&apos;air</string>
			<string>NET</string>
			<string>ELFES</string>
		</array>
		<array>
			<string>  Clair</string>
			<string> Plus courte</string>
			<string>NET</string>
			<string>ETETEE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Note</string>
			<string> Refus des réalités</string>
			<string>MI</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string> Note</string>
			<string> Redit</string>
			<string>MI</string>
			<string>REITERE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Symbole chimique</string>
			<string> Oiseau gris bleuté</string>
			<string>BE</string>
			<string>BISET</string>
		</array>
		<array>
			<string> Symbole chimique</string>
			<string> Naissance</string>
			<string>BE</string>
			<string>GENESE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Répand une civilisation orientale</string>
			<string> Goûtées à nouveau</string>
			<string>SINISE</string>
			<string>RETATEES</string>
		</array>
		<array>
			<string> Répand une civilisation orientale</string>
			<string> Fait sur l&apos;eau ou sur la neige</string>
			<string>SINISE</string>
			<string>SKIE</string>
		</array>
		<array>
			<string> Répand une civilisation orientale</string>
			<string></string>
			<string>SINISE</string>
			<string>N</string>
		</array>
		<array>
			<string> Répand une civilisation orientale</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>SINISE</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string> Répand une civilisation orientale</string>
			<string> Génies de l&apos;air</string>
			<string>SINISE</string>
			<string>ELFES</string>
		</array>
		<array>
			<string> Répand une civilisation orientale</string>
			<string> Plus courte</string>
			<string>SINISE</string>
			<string>ETETEE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Métaux malléables</string>
			<string> Refus des réalités</string>
			<string>ETAINS</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string> Métaux malléables</string>
			<string> Redit</string>
			<string>ETAINS</string>
			<string>REITERE</string>
		</array>
		<array>
			<string> Métaux malléables</string>
			<string> Baudets</string>
			<string>ETAINS</string>
			<string>ANES</string>
		</array>
		<array>
			<string> Métaux malléables</string>
			<string> Oiseau gris bleuté</string>
			<string>ETAINS</string>
			<string>BISET</string>
		</array>
		<array>
			<string> Métaux malléables</string>
			<string> Naissance</string>
			<string>ETAINS</string>
			<string>GENESE</string>
		</array>
		<array>
			<string> Métaux malléables</string>
			<string> Pronom</string>
			<string>ETAINS</string>
			<string>SE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Fait sur l&apos;eau ou sur la neige</string>
			<string>E</string>
			<string>SKIE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>Q</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Plus courte</string>
			<string>T</string>
			<string>ETETEE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Logiques</string>
			<string> Refus des réalités</string>
			<string>SENSEES</string>
			<string>ANGELISMES</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Redit</string>
			<string>SENSEES</string>
			<string>REITERE</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Baudets</string>
			<string>SENSEES</string>
			<string>ANES</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Oiseau gris bleuté</string>
			<string>SENSEES</string>
			<string>BISET</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Naissance</string>
			<string>SENSEES</string>
			<string>GENESE</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Pronom</string>
			<string>SENSEES</string>
			<string>SE</string>
		</array>
		<array>
			<string> Logiques</string>
			<string> Monnaie du Japon</string>
			<string>SENSEES</string>
			<string>SEN</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Commune de la Haute-Loire</string>
			<string> Enzyme.</string>
			<string>AURE</string>
			<string>ASE</string>
		</array>
		<array>
			<string> Commune de la Haute-Loire</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>AURE</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string> Commune de la Haute-Loire</string>
			<string></string>
			<string>AURE</string>
			<string>R</string>
		</array>
		<array>
			<string> Commune de la Haute-Loire</string>
			<string> Plus courte</string>
			<string>AURE</string>
			<string>ETETEE</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Cris</string>
			<string> Redit</string>
			<string>REES</string>
			<string>REITERE</string>
		</array>
		<array>
			<string> Cris</string>
			<string> Baudets</string>
			<string>REES</string>
			<string>ANES</string>
		</array>
		<array>
			<string> Cris</string>
			<string> Oiseau gris bleuté</string>
			<string>REES</string>
			<string>BISET</string>
		</array>
		<array>
			<string> Cris</string>
			<string> Naissance</string>
			<string>REES</string>
			<string>GENESE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Ouverture de violon</string>
			<string> Monnaie du Japon</string>
			<string>ESSE</string>
			<string>SEN</string>
		</array>
		<array>
			<string> Ouverture de violon</string>
			<string></string>
			<string>ESSE</string>
			<string>S</string>
		</array>
		<array>
			<string> Ouverture de violon</string>
			<string> Enzyme.</string>
			<string>ESSE</string>
			<string>ASE</string>
		</array>
		<array>
			<string> Ouverture de violon</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>ESSE</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Plus courte</string>
			<string>E</string>
			<string>ETETEE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Un genre de cinéma</string>
			<string></string>
			<string>WESTERN</string>
			<string>W</string>
		</array>
		<array>
			<string> Un genre de cinéma</string>
			<string> Redit</string>
			<string>WESTERN</string>
			<string>REITERE</string>
		</array>
		<array>
			<string> Un genre de cinéma</string>
			<string> Baudets</string>
			<string>WESTERN</string>
			<string>ANES</string>
		</array>
		<array>
			<string> Un genre de cinéma</string>
			<string> Oiseau gris bleuté</string>
			<string>WESTERN</string>
			<string>BISET</string>
		</array>
		<array>
			<string> Un genre de cinéma</string>
			<string> Naissance</string>
			<string>WESTERN</string>
			<string>GENESE</string>
		</array>
		<array>
			<string> Un genre de cinéma</string>
			<string></string>
			<string>WESTERN</string>
			<string>R</string>
		</array>
		<array>
			<string> Un genre de cinéma</string>
			<string> Monnaie du Japon</string>
			<string>WESTERN</string>
			<string>SEN</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Levant</string>
			<string> Enzyme.</string>
			<string>EST</string>
			<string>ASE</string>
		</array>
		<array>
			<string> Levant</string>
			<string> Relatifs à l’attente d&apos;un sauveur</string>
			<string>EST</string>
			<string>MESSIANIQUES</string>
		</array>
		<array>
			<string> Levant</string>
			<string></string>
			<string>EST</string>
			<string>T</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
</array>
</plist>
