<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string> Dépréciées</string>
			<string> Sans scrupule</string>
			<string>SOUSESTIMEES</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Lisières</string>
			<string>SOUSESTIMEES</string>
			<string>OREES</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Coutumes</string>
			<string>SOUSESTIMEES</string>
			<string>US</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>SOUSESTIMEES</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Indique la manière</string>
			<string>SOUSESTIMEES</string>
			<string>EN</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Possessif.</string>
			<string>SOUSESTIMEES</string>
			<string>SES</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string></string>
			<string>SOUSESTIMEES</string>
			<string>T</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Elle fait crier</string>
			<string>SOUSESTIMEES</string>
			<string>IRE</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Magicien avec un ballon</string>
			<string>SOUSESTIMEES</string>
			<string>MESSI</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Frappent de la pointe</string>
			<string>SOUSESTIMEES</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string>Six mois après Noël</string>
			<string>SOUSESTIMEES</string>
			<string>ETE</string>
		</array>
		<array>
			<string> Dépréciées</string>
			<string> Pronom</string>
			<string>SOUSESTIMEES</string>
			<string>SE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Gentleman cambrioleur</string>
			<string> Sans scrupule</string>
			<string>ARSENE</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Gentleman cambrioleur</string>
			<string> Lisières</string>
			<string>ARSENE</string>
			<string>OREES</string>
		</array>
		<array>
			<string> Gentleman cambrioleur</string>
			<string> Coutumes</string>
			<string>ARSENE</string>
			<string>US</string>
		</array>
		<array>
			<string> Gentleman cambrioleur</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>ARSENE</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string> Gentleman cambrioleur</string>
			<string> Indique la manière</string>
			<string>ARSENE</string>
			<string>EN</string>
		</array>
		<array>
			<string> Gentleman cambrioleur</string>
			<string> Possessif.</string>
			<string>ARSENE</string>
			<string>SES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Résidu</string>
			<string> Elle fait crier</string>
			<string>RESTE</string>
			<string>IRE</string>
		</array>
		<array>
			<string> Résidu</string>
			<string> Magicien avec un ballon</string>
			<string>RESTE</string>
			<string>MESSI</string>
		</array>
		<array>
			<string> Résidu</string>
			<string> Frappent de la pointe</string>
			<string>RESTE</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string> Résidu</string>
			<string>Six mois après Noël</string>
			<string>RESTE</string>
			<string>ETE</string>
		</array>
		<array>
			<string> Résidu</string>
			<string> Pronom</string>
			<string>RESTE</string>
			<string>SE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Négation</string>
			<string> Sans scrupule</string>
			<string>NE</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Négation</string>
			<string> Lisières</string>
			<string>NE</string>
			<string>OREES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>N</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Généralement en après-midi</string>
			<string> Possessif.</string>
			<string>SIESTE</string>
			<string>SES</string>
		</array>
		<array>
			<string> Généralement en après-midi</string>
			<string> Apostropher</string>
			<string>SIESTE</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string> Généralement en après-midi</string>
			<string> Elle fait crier</string>
			<string>SIESTE</string>
			<string>IRE</string>
		</array>
		<array>
			<string> Généralement en après-midi</string>
			<string> Magicien avec un ballon</string>
			<string>SIESTE</string>
			<string>MESSI</string>
		</array>
		<array>
			<string> Généralement en après-midi</string>
			<string> Frappent de la pointe</string>
			<string>SIESTE</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string> Généralement en après-midi</string>
			<string>Six mois après Noël</string>
			<string>SIESTE</string>
			<string>ETE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string> Fromages</string>
			<string> Sans scrupule</string>
			<string>SERES</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Fromages</string>
			<string> Lisières</string>
			<string>SERES</string>
			<string>OREES</string>
		</array>
		<array>
			<string> Fromages</string>
			<string></string>
			<string>SERES</string>
			<string>R</string>
		</array>
		<array>
			<string> Fromages</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>SERES</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string> Fromages</string>
			<string> Poisson osseux</string>
			<string>SERES</string>
			<string>SAR</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Apostropher</string>
			<string>N</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Sud-0uest</string>
			<string> Magicien avec un ballon</string>
			<string>SO</string>
			<string>MESSI</string>
		</array>
		<array>
			<string> Sud-0uest</string>
			<string> Frappent de la pointe</string>
			<string>SO</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Naturels, ils sont redoutables</string>
			<string>D</string>
			<string>DESASTRES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Par opposition à</string>
			<string> Sans scrupule</string>
			<string>VS</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Par opposition à</string>
			<string> Lisières</string>
			<string>VS</string>
			<string>OREES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>GASTRIQUE</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string> Poisson osseux</string>
			<string>GASTRIQUE</string>
			<string>SAR</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string></string>
			<string>GASTRIQUE</string>
			<string>S</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string> Apostropher</string>
			<string>GASTRIQUE</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string> On ne peut y nager</string>
			<string>GASTRIQUE</string>
			<string>RU</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string> Magicien avec un ballon</string>
			<string>GASTRIQUE</string>
			<string>MESSI</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string> Frappent de la pointe</string>
			<string>GASTRIQUE</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string> Adresse</string>
			<string>GASTRIQUE</string>
			<string>URL</string>
		</array>
		<array>
			<string> Sauce sirupeuse, de saveur aigre douce</string>
			<string> Naturels, ils sont redoutables</string>
			<string>GASTRIQUE</string>
			<string>DESASTRES</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string> Sans scrupule</string>
			<string>E</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Rivière de Suisse</string>
			<string> Entre la cuisse et le ventre</string>
			<string>AAR</string>
			<string>AINE</string>
		</array>
		<array>
			<string> Rivière de Suisse</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>AAR</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string> Rivière de Suisse</string>
			<string> Poisson osseux</string>
			<string>AAR</string>
			<string>SAR</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> D&apos;un auxiliaire</string>
			<string> Apostropher</string>
			<string>EU</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string> D&apos;un auxiliaire</string>
			<string> On ne peut y nager</string>
			<string>EU</string>
			<string>RU</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Au milieu de l&apos;excursion</string>
			<string> Frappent de la pointe</string>
			<string>URS</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string> Au milieu de l&apos;excursion</string>
			<string> Adresse</string>
			<string>URS</string>
			<string>URL</string>
		</array>
		<array>
			<string> Au milieu de l&apos;excursion</string>
			<string> Naturels, ils sont redoutables</string>
			<string>URS</string>
			<string>DESASTRES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Chemin de fer</string>
			<string> Sans scrupule</string>
			<string>RAIL</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Chemin de fer</string>
			<string> Ventilées</string>
			<string>RAIL</string>
			<string>AEREES</string>
		</array>
		<array>
			<string> Chemin de fer</string>
			<string> Entre la cuisse et le ventre</string>
			<string>RAIL</string>
			<string>AINE</string>
		</array>
		<array>
			<string> Chemin de fer</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>RAIL</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Infinitif</string>
			<string></string>
			<string>ER</string>
			<string>E</string>
		</array>
		<array>
			<string> Infinitif</string>
			<string> Apostropher</string>
			<string>ER</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Opposé à ceci</string>
			<string> Monoxyde de Carbone</string>
			<string>CELA</string>
			<string>CO</string>
		</array>
		<array>
			<string> Opposé à ceci</string>
			<string> Frappent de la pointe</string>
			<string>CELA</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string> Opposé à ceci</string>
			<string> Adresse</string>
			<string>CELA</string>
			<string>URL</string>
		</array>
		<array>
			<string> Opposé à ceci</string>
			<string> Naturels, ils sont redoutables</string>
			<string>CELA</string>
			<string>DESASTRES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Entravai</string>
			<string> Sans scrupule</string>
			<string>GENAI</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Entravai</string>
			<string> Ventilées</string>
			<string>GENAI</string>
			<string>AEREES</string>
		</array>
		<array>
			<string> Entravai</string>
			<string> Entre la cuisse et le ventre</string>
			<string>GENAI</string>
			<string>AINE</string>
		</array>
		<array>
			<string> Entravai</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>GENAI</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string> Entravai</string>
			<string> Groupes de maisons aux Antilles</string>
			<string>GENAI</string>
			<string>ILETS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> On le dit orgueilleux</string>
			<string> Apostropher</string>
			<string>PAON</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string> On le dit orgueilleux</string>
			<string> Dieu guerrier</string>
			<string>PAON</string>
			<string>ASES</string>
		</array>
		<array>
			<string> On le dit orgueilleux</string>
			<string> Monoxyde de Carbone</string>
			<string>PAON</string>
			<string>CO</string>
		</array>
		<array>
			<string> On le dit orgueilleux</string>
			<string> Frappent de la pointe</string>
			<string>PAON</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Naturels, ils sont redoutables</string>
			<string>S</string>
			<string>DESASTRES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Les tirer c&apos;est réprimander</string>
			<string> Sans scrupule</string>
			<string>OREILLES</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Les tirer c&apos;est réprimander</string>
			<string> Ventilées</string>
			<string>OREILLES</string>
			<string>AEREES</string>
		</array>
		<array>
			<string> Les tirer c&apos;est réprimander</string>
			<string> Entre la cuisse et le ventre</string>
			<string>OREILLES</string>
			<string>AINE</string>
		</array>
		<array>
			<string> Les tirer c&apos;est réprimander</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>OREILLES</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string> Les tirer c&apos;est réprimander</string>
			<string> Groupes de maisons aux Antilles</string>
			<string>OREILLES</string>
			<string>ILETS</string>
		</array>
		<array>
			<string> Les tirer c&apos;est réprimander</string>
			<string> Consultée</string>
			<string>OREILLES</string>
			<string>LUE</string>
		</array>
		<array>
			<string> Les tirer c&apos;est réprimander</string>
			<string> Apostropher</string>
			<string>OREILLES</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string> Les tirer c&apos;est réprimander</string>
			<string> Dieu guerrier</string>
			<string>OREILLES</string>
			<string>ASES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Nouvel an vietnamien</string>
			<string> Frappent de la pointe</string>
			<string>TET</string>
			<string>ESTOQUENT</string>
		</array>
		<array>
			<string> Nouvel an vietnamien</string>
			<string> Ville d&apos;Italie</string>
			<string>TET</string>
			<string>ESTE</string>
		</array>
		<array>
			<string> Nouvel an vietnamien</string>
			<string> Naturels, ils sont redoutables</string>
			<string>TET</string>
			<string>DESASTRES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Mère des Titans</string>
			<string> Sans scrupule</string>
			<string>GE</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Mère des Titans</string>
			<string> Ventilées</string>
			<string>GE</string>
			<string>AEREES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Isolées</string>
			<string> Habite un pays d&apos;Afrique</string>
			<string>SEULES</string>
			<string>SENEGALAIS</string>
		</array>
		<array>
			<string> Isolées</string>
			<string> Groupes de maisons aux Antilles</string>
			<string>SEULES</string>
			<string>ILETS</string>
		</array>
		<array>
			<string> Isolées</string>
			<string> Consultée</string>
			<string>SEULES</string>
			<string>LUE</string>
		</array>
		<array>
			<string> Isolées</string>
			<string> Apostropher</string>
			<string>SEULES</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string> Isolées</string>
			<string> Dieu guerrier</string>
			<string>SEULES</string>
			<string>ASES</string>
		</array>
		<array>
			<string> Isolées</string>
			<string></string>
			<string>SEULES</string>
			<string>S</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Strontium.</string>
			<string> Ville d&apos;Italie</string>
			<string>SR</string>
			<string>ESTE</string>
		</array>
		<array>
			<string> Strontium.</string>
			<string> Naturels, ils sont redoutables</string>
			<string>SR</string>
			<string>DESASTRES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Arrivée</string>
			<string> Sans scrupule</string>
			<string>NEE</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Arrivée</string>
			<string> Ventilées</string>
			<string>NEE</string>
			<string>AEREES</string>
		</array>
		<array>
			<string> Arrivée</string>
			<string> Liaison</string>
			<string>NEE</string>
			<string>ET</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Toujours présents au départ</string>
			<string> Groupes de maisons aux Antilles</string>
			<string>TEES</string>
			<string>ILETS</string>
		</array>
		<array>
			<string> Toujours présents au départ</string>
			<string> Consultée</string>
			<string>TEES</string>
			<string>LUE</string>
		</array>
		<array>
			<string> Toujours présents au départ</string>
			<string> Apostropher</string>
			<string>TEES</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string> Toujours présents au départ</string>
			<string> Dieu guerrier</string>
			<string>TEES</string>
			<string>ASES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Défalque</string>
			<string> Conjonction</string>
			<string>OTE</string>
			<string>OR</string>
		</array>
		<array>
			<string> Défalque</string>
			<string> Ville d&apos;Italie</string>
			<string>OTE</string>
			<string>ESTE</string>
		</array>
		<array>
			<string> Défalque</string>
			<string> Naturels, ils sont redoutables</string>
			<string>OTE</string>
			<string>DESASTRES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Estoniens</string>
			<string> Sans scrupule</string>
			<string>ESTES</string>
			<string>SANSVERGOGNE</string>
		</array>
		<array>
			<string> Estoniens</string>
			<string> Ventilées</string>
			<string>ESTES</string>
			<string>AEREES</string>
		</array>
		<array>
			<string> Estoniens</string>
			<string> Liaison</string>
			<string>ESTES</string>
			<string>ET</string>
		</array>
		<array>
			<string> Estoniens</string>
			<string></string>
			<string>ESTES</string>
			<string>E</string>
		</array>
		<array>
			<string> Estoniens</string>
			<string> Groupes de maisons aux Antilles</string>
			<string>ESTES</string>
			<string>ILETS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Apostropher</string>
			<string>R</string>
			<string>INTERPELER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>  Périodes historiques</string>
			<string></string>
			<string>ERES</string>
			<string>E</string>
		</array>
		<array>
			<string>  Périodes historiques</string>
			<string> Conjonction</string>
			<string>ERES</string>
			<string>OR</string>
		</array>
		<array>
			<string>  Périodes historiques</string>
			<string> Ville d&apos;Italie</string>
			<string>ERES</string>
			<string>ESTE</string>
		</array>
		<array>
			<string>  Périodes historiques</string>
			<string> Naturels, ils sont redoutables</string>
			<string>ERES</string>
			<string>DESASTRES</string>
		</array>
	</array>
</array>
</plist>
