<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string> Pleine de boutons</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>TELECOMMANDE</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Circule librement partout en Europe</string>
			<string>TELECOMMANDE</string>
			<string>EURO</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Se soulèvent facilement</string>
			<string>TELECOMMANDE</string>
			<string>LEGERES</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Infinitif</string>
			<string>TELECOMMANDE</string>
			<string>ER</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Durillon</string>
			<string>TELECOMMANDE</string>
			<string>CAL</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string></string>
			<string>TELECOMMANDE</string>
			<string>O</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Oscillations de la mer</string>
			<string>TELECOMMANDE</string>
			<string>MAREES</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Relatifs à des services essentiels</string>
			<string>TELECOMMANDE</string>
			<string>MEDICAUX</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Lopin de terre</string>
			<string>TELECOMMANDE</string>
			<string>ARE</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Négation</string>
			<string>TELECOMMANDE</string>
			<string>NE</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string></string>
			<string>TELECOMMANDE</string>
			<string>D</string>
		</array>
		<array>
			<string> Pleine de boutons</string>
			<string> Accompagne</string>
			<string>TELECOMMANDE</string>
			<string>EMMENE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Protestera</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>RUERA</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Protestera</string>
			<string> Circule librement partout en Europe</string>
			<string>RUERA</string>
			<string>EURO</string>
		</array>
		<array>
			<string> Protestera</string>
			<string> Se soulèvent facilement</string>
			<string>RUERA</string>
			<string>LEGERES</string>
		</array>
		<array>
			<string> Protestera</string>
			<string> Infinitif</string>
			<string>RUERA</string>
			<string>ER</string>
		</array>
		<array>
			<string> Protestera</string>
			<string> Durillon</string>
			<string>RUERA</string>
			<string>CAL</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Ouvre la fenêtre</string>
			<string> Oscillations de la mer</string>
			<string>AERE</string>
			<string>MAREES</string>
		</array>
		<array>
			<string> Ouvre la fenêtre</string>
			<string> Relatifs à des services essentiels</string>
			<string>AERE</string>
			<string>MEDICAUX</string>
		</array>
		<array>
			<string> Ouvre la fenêtre</string>
			<string> Lopin de terre</string>
			<string>AERE</string>
			<string>ARE</string>
		</array>
		<array>
			<string> Ouvre la fenêtre</string>
			<string> Négation</string>
			<string>AERE</string>
			<string>NE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Accompagne</string>
			<string>M</string>
			<string>EMMENE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Désert</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>ERG</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Désert</string>
			<string> Circule librement partout en Europe</string>
			<string>ERG</string>
			<string>EURO</string>
		</array>
		<array>
			<string> Désert</string>
			<string> Se soulèvent facilement</string>
			<string>ERG</string>
			<string>LEGERES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Garnit une pièce de viande</string>
			<string> Durillon</string>
			<string>LARDE</string>
			<string>CAL</string>
		</array>
		<array>
			<string> Garnit une pièce de viande</string>
			<string> On le prend souvent avec le retour</string>
			<string>LARDE</string>
			<string>ALLER</string>
		</array>
		<array>
			<string> Garnit une pièce de viande</string>
			<string> Oscillations de la mer</string>
			<string>LARDE</string>
			<string>MAREES</string>
		</array>
		<array>
			<string> Garnit une pièce de viande</string>
			<string> Relatifs à des services essentiels</string>
			<string>LARDE</string>
			<string>MEDICAUX</string>
		</array>
		<array>
			<string> Garnit une pièce de viande</string>
			<string> Lopin de terre</string>
			<string>LARDE</string>
			<string>ARE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Abréviation religieuse</string>
			<string> Vit dans l&apos;eau et aime planer</string>
			<string>EM</string>
			<string>EXOCET</string>
		</array>
		<array>
			<string> Abréviation religieuse</string>
			<string> Accompagne</string>
			<string>EM</string>
			<string>EMMENE</string>
		</array>
	</array>
	<array>
		<array>
			<string> On aime qu&apos;il soit blanc</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>NOEL</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> On aime qu&apos;il soit blanc</string>
			<string> Circule librement partout en Europe</string>
			<string>NOEL</string>
			<string>EURO</string>
		</array>
		<array>
			<string> On aime qu&apos;il soit blanc</string>
			<string> Se soulèvent facilement</string>
			<string>NOEL</string>
			<string>LEGERES</string>
		</array>
		<array>
			<string> On aime qu&apos;il soit blanc</string>
			<string> Osé</string>
			<string>NOEL</string>
			<string>LESTE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Circulent en Roumanie</string>
			<string> On le prend souvent avec le retour</string>
			<string>LEI</string>
			<string>ALLER</string>
		</array>
		<array>
			<string> Circulent en Roumanie</string>
			<string> Oscillations de la mer</string>
			<string>LEI</string>
			<string>MAREES</string>
		</array>
		<array>
			<string> Circulent en Roumanie</string>
			<string> Relatifs à des services essentiels</string>
			<string>LEI</string>
			<string>MEDICAUX</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Voie routière importante</string>
			<string> Paresseux</string>
			<string>AXE</string>
			<string>AI</string>
		</array>
		<array>
			<string> Voie routière importante</string>
			<string> Vit dans l&apos;eau et aime planer</string>
			<string>AXE</string>
			<string>EXOCET</string>
		</array>
		<array>
			<string> Voie routière importante</string>
			<string> Accompagne</string>
			<string>AXE</string>
			<string>EMMENE</string>
		</array>
	</array>
	<array>
		<array>
			<string></string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>T</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> Se soulèvent facilement</string>
			<string>REELECTION</string>
			<string>LEGERES</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> Osé</string>
			<string>REELECTION</string>
			<string>LESTE</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string></string>
			<string>REELECTION</string>
			<string>E</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> On le prend souvent avec le retour</string>
			<string>REELECTION</string>
			<string>ALLER</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> Oscillations de la mer</string>
			<string>REELECTION</string>
			<string>MAREES</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> Relatifs à des services essentiels</string>
			<string>REELECTION</string>
			<string>MEDICAUX</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> Mortes</string>
			<string>REELECTION</string>
			<string>TUEES</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> Paresseux</string>
			<string>REELECTION</string>
			<string>AI</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> Vit dans l&apos;eau et aime planer</string>
			<string>REELECTION</string>
			<string>EXOCET</string>
		</array>
		<array>
			<string> Action de porter à nouveau au pouvoir</string>
			<string> Accompagne</string>
			<string>REELECTION</string>
			<string>EMMENE</string>
		</array>
	</array>
	<array>
		<array>
			<string>  Périodes historiques</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>ERES</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string>  Périodes historiques</string>
			<string> Exécute</string>
			<string>ERES</string>
			<string>REALISE</string>
		</array>
		<array>
			<string>  Périodes historiques</string>
			<string> Se soulèvent facilement</string>
			<string>ERES</string>
			<string>LEGERES</string>
		</array>
		<array>
			<string>  Périodes historiques</string>
			<string> Osé</string>
			<string>ERES</string>
			<string>LESTE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Fils d&apos;Isaac</string>
			<string> On le prend souvent avec le retour</string>
			<string>ESAU</string>
			<string>ALLER</string>
		</array>
		<array>
			<string> Fils d&apos;Isaac</string>
			<string> Oscillations de la mer</string>
			<string>ESAU</string>
			<string>MAREES</string>
		</array>
		<array>
			<string> Fils d&apos;Isaac</string>
			<string> Relatifs à des services essentiels</string>
			<string>ESAU</string>
			<string>MEDICAUX</string>
		</array>
		<array>
			<string> Fils d&apos;Isaac</string>
			<string> Mortes</string>
			<string>ESAU</string>
			<string>TUEES</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Démonstratif</string>
			<string> Vit dans l&apos;eau et aime planer</string>
			<string>CE</string>
			<string>EXOCET</string>
		</array>
		<array>
			<string> Démonstratif</string>
			<string> Accompagne</string>
			<string>CE</string>
			<string>EMMENE</string>
		</array>
	</array>
	<array>
		<array>
			<string> Prénom</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>NESTOR</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Prénom</string>
			<string> Exécute</string>
			<string>NESTOR</string>
			<string>REALISE</string>
		</array>
		<array>
			<string> Prénom</string>
			<string> Se soulèvent facilement</string>
			<string>NESTOR</string>
			<string>LEGERES</string>
		</array>
		<array>
			<string> Prénom</string>
			<string> Osé</string>
			<string>NESTOR</string>
			<string>LESTE</string>
		</array>
		<array>
			<string> Prénom</string>
			<string> Possèdent</string>
			<string>NESTOR</string>
			<string>ONT</string>
		</array>
		<array>
			<string> Prénom</string>
			<string> On le prend souvent avec le retour</string>
			<string>NESTOR</string>
			<string>ALLER</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Coule en Afrique</string>
			<string> Relatifs à des services essentiels</string>
			<string>UELE</string>
			<string>MEDICAUX</string>
		</array>
		<array>
			<string> Coule en Afrique</string>
			<string> Mortes</string>
			<string>UELE</string>
			<string>TUEES</string>
		</array>
		<array>
			<string> Coule en Afrique</string>
			<string> Une vieille langue</string>
			<string>UELE</string>
			<string>LATIN</string>
		</array>
		<array>
			<string> Coule en Afrique</string>
			<string> Vit dans l&apos;eau et aime planer</string>
			<string>UELE</string>
			<string>EXOCET</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
	</array>
	<array>
		<array>
			<string> Ne boit plus</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>AA</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Ne boit plus</string>
			<string> Exécute</string>
			<string>AA</string>
			<string>REALISE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Indique la manière</string>
			<string> Osé</string>
			<string>EN</string>
			<string>LESTE</string>
		</array>
		<array>
			<string> Indique la manière</string>
			<string> Possèdent</string>
			<string>EN</string>
			<string>ONT</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Permissions de sortir</string>
			<string> Épée</string>
			<string>EXEATS</string>
			<string>ESTOC</string>
		</array>
		<array>
			<string> Permissions de sortir</string>
			<string> Relatifs à des services essentiels</string>
			<string>EXEATS</string>
			<string>MEDICAUX</string>
		</array>
		<array>
			<string> Permissions de sortir</string>
			<string> Mortes</string>
			<string>EXEATS</string>
			<string>TUEES</string>
		</array>
		<array>
			<string> Permissions de sortir</string>
			<string> Une vieille langue</string>
			<string>EXEATS</string>
			<string>LATIN</string>
		</array>
		<array>
			<string> Permissions de sortir</string>
			<string> Vit dans l&apos;eau et aime planer</string>
			<string>EXEATS</string>
			<string>EXOCET</string>
		</array>
		<array>
			<string> Permissions de sortir</string>
			<string> Petites brosses de soie</string>
			<string>EXEATS</string>
			<string>SAIES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Pronom personnel</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>ILS</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Pronom personnel</string>
			<string> Exécute</string>
			<string>ILS</string>
			<string>REALISE</string>
		</array>
		<array>
			<string> Pronom personnel</string>
			<string>  Napperons.</string>
			<string>ILS</string>
			<string>SETS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string>  Règles.</string>
			<string> Possèdent</string>
			<string>TES</string>
			<string>ONT</string>
		</array>
		<array>
			<string>  Règles.</string>
			<string> D&apos;un auxiliaire</string>
			<string>TES</string>
			<string>EU</string>
		</array>
		<array>
			<string>  Règles.</string>
			<string> Épée</string>
			<string>TES</string>
			<string>ESTOC</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Il a vécu une vie exemplaire</string>
			<string> Mortes</string>
			<string>ST</string>
			<string>TUEES</string>
		</array>
		<array>
			<string> Il a vécu une vie exemplaire</string>
			<string> Une vieille langue</string>
			<string>ST</string>
			<string>LATIN</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string></string>
			<string> Petites brosses de soie</string>
			<string>A</string>
			<string>SAIES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Néant</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>RIEN</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Néant</string>
			<string> Exécute</string>
			<string>RIEN</string>
			<string>REALISE</string>
		</array>
		<array>
			<string> Néant</string>
			<string>  Napperons.</string>
			<string>RIEN</string>
			<string>SETS</string>
		</array>
		<array>
			<string> Néant</string>
			<string>  Propre</string>
			<string>RIEN</string>
			<string>NET</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Amérindien.</string>
			<string> D&apos;un auxiliaire</string>
			<string>UTE</string>
			<string>EU</string>
		</array>
		<array>
			<string> Amérindien.</string>
			<string> Épée</string>
			<string>UTE</string>
			<string>ESTOC</string>
		</array>
		<array>
			<string> Amérindien.</string>
			<string> Période historique</string>
			<string>UTE</string>
			<string>ERE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Romain</string>
			<string> Une vieille langue</string>
			<string>III</string>
			<string>LATIN</string>
		</array>
		<array>
			<string> Romain</string>
			<string> Petit mot latin</string>
			<string>III</string>
			<string>ITE</string>
		</array>
		<array>
			<string> Romain</string>
			<string> Petites brosses de soie</string>
			<string>III</string>
			<string>SAIES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Estoniens</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>ESTES</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Estoniens</string>
			<string> Exécute</string>
			<string>ESTES</string>
			<string>REALISE</string>
		</array>
		<array>
			<string> Estoniens</string>
			<string>  Napperons.</string>
			<string>ESTES</string>
			<string>SETS</string>
		</array>
		<array>
			<string> Estoniens</string>
			<string>  Propre</string>
			<string>ESTES</string>
			<string>NET</string>
		</array>
		<array>
			<string> Estoniens</string>
			<string> Pronom</string>
			<string>ESTES</string>
			<string>SE</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Priante</string>
			<string> Épée</string>
			<string>ORANTE</string>
			<string>ESTOC</string>
		</array>
		<array>
			<string> Priante</string>
			<string> Période historique</string>
			<string>ORANTE</string>
			<string>ERE</string>
		</array>
		<array>
			<string> Priante</string>
			<string> Champion</string>
			<string>ORANTE</string>
			<string>AS</string>
		</array>
		<array>
			<string> Priante</string>
			<string> Une vieille langue</string>
			<string>ORANTE</string>
			<string>LATIN</string>
		</array>
		<array>
			<string> Priante</string>
			<string> Petit mot latin</string>
			<string>ORANTE</string>
			<string>ITE</string>
		</array>
		<array>
			<string> Priante</string>
			<string> Petites brosses de soie</string>
			<string>ORANTE</string>
			<string>SAIES</string>
		</array>
	</array>
	<array>
		<array>
			<string> Circulaient à Rome</string>
			<string> Ils n&apos;habitent plus chez leurs parents</string>
			<string>SESTERCES</string>
			<string>TRENTENAIRES</string>
		</array>
		<array>
			<string> Circulaient à Rome</string>
			<string> Exécute</string>
			<string>SESTERCES</string>
			<string>REALISE</string>
		</array>
		<array>
			<string> Circulaient à Rome</string>
			<string>  Napperons.</string>
			<string>SESTERCES</string>
			<string>SETS</string>
		</array>
		<array>
			<string> Circulaient à Rome</string>
			<string>  Propre</string>
			<string>SESTERCES</string>
			<string>NET</string>
		</array>
		<array>
			<string> Circulaient à Rome</string>
			<string> Pronom</string>
			<string>SESTERCES</string>
			<string>SE</string>
		</array>
		<array>
			<string> Circulaient à Rome</string>
			<string></string>
			<string>SESTERCES</string>
			<string>R</string>
		</array>
		<array>
			<string> Circulaient à Rome</string>
			<string> Épée</string>
			<string>SESTERCES</string>
			<string>ESTOC</string>
		</array>
		<array>
			<string> Circulaient à Rome</string>
			<string> Période historique</string>
			<string>SESTERCES</string>
			<string>ERE</string>
		</array>
		<array>
			<string> Circulaient à Rome</string>
			<string> Champion</string>
			<string>SESTERCES</string>
			<string>AS</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string>#</string>
			<string>#</string>
		</array>
		<array>
			<string> Existes</string>
			<string> Petit mot latin</string>
			<string>ES</string>
			<string>ITE</string>
		</array>
		<array>
			<string> Existes</string>
			<string> Petites brosses de soie</string>
			<string>ES</string>
			<string>SAIES</string>
		</array>
	</array>
</array>
</plist>
